
<style type="text/css">
#interContainer { left:50px !important; width:800px !important; }
</style>


<?php if($erro==true){?>
<div class="lista-de-ofertas">
	<div class="alinhamento">
		<div class="oferta-destaque-principal">
		<div class="informes">
			<h3>OCORREU UM ERRO NA TUA INTEGRACAO COM O MOIP - VERIFICAR COM ADMINISTRADOR DO SITE</h3>
			<H2>Retorno do moip - <?php echo $mensagem;?></H2>
			<!--<br>
			<strong>»</strong>comentário aprovado<strong>»</strong>não publicado-->
		</div>
		</div>
	</div>
</div>
<?php }else{ ?>

	<input type="hidden" id="url" value="<?php echo $url;?>">
	<link rel="stylesheet" type="text/css" href="/portal/css/empresas/interstitial.css" />
	<script type="text/javascript" src="/portal/js/empresas/interstitial.js"></script>
	
	<div class="lista-de-ofertas">
	<div class="alinhamento">
		<div class="oferta-destaque-principal">
		<div class="informes">
			<h3>FACA TEU CADASTRO NO MOIP PARA CRIAR OFERTAS NO TRUEONE</h3>			
			<!--<br>
			<strong>»</strong>comentário aprovado<strong>»</strong>não publicado-->
		</div>
		</div>
	</div>
</div>

<?php }?>


