
<div class="alinhamento">
	<?php if(!empty($mensagem))echo "<h3 style='color:red;text-align:center'><strong>{$mensagem}</strong></h3>";?>
	<?php echo $this->Html->image('logo-login.png', array('class'=>'logo-login'));?>	
	<div class="area-login">
		<a href="/portal/" class="nao-logar-agora"></a>
		<?php echo $this->Form->create('Company', array('url'=>array('controller'=>'companies','action'=>'new_password')));?>
		<div class="text"><input title="Usuário" id="usuario_login" name='data[Company][responsible_email]' value="Email do responsavel" type="text" class="usuario"></div>					
		<?php echo $this->Html->image('icones/linha-login.png', array('class'=>'linha-login'));?>	
		
			<button class="botao-nova-senha" type="submit">ENTRAR</button>
			<a href="#" onClick="location.href='<?php echo $this->Html->url('/company'); ?>';" class="botao-voltar">Voltar</a>
			<!--  <a href="javascript:void(0);" class="esqueci-minha-senha">esqueci minha senha</a>-->
		<?php echo $this->Form->end();?>
	</div>


</div>