<?php
?>

<style type="text/css">
.teste {
	height: 490px;
	width: 300px;
	margin-top: 20px;
	background: url('../companies/img/icones/login/login-background.png')
		no-repeat;
}

.inputs_box {
	width: 250px;
	height: 205px;
	margin-top: -313px;
	position: absolute;
	margin-left: 20px;
	background: url('../companies/img/icones/login/inputs_box.png')
		no-repeat;
}

.button_senha {
	width: 220px;
	height: 40px;
	opacity: 0.70;
	-moz-opacity: 0.70;
	margin-top: -100px;
	margin-left: 35px;
	background: rgb(169, 3, 41); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 86%, rgba(143, 2, 34, 1) 86%, rgba(109, 0, 25, 1)
		100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(169,
		3, 41, 1)), color-stop(86%, rgba(143, 2, 34, 1)),
		color-stop(86%, rgba(143, 2, 34, 1)),
		color-stop(100%, rgba(109, 0, 25, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 86%, rgba(143, 2, 34, 1) 86%, rgba(109, 0, 25, 1)
		100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 86%, rgba(143, 2, 34, 1) 86%, rgba(109, 0, 25, 1)
		100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 86%, rgba(143, 2, 34, 1) 86%, rgba(109, 0, 25, 1)
		100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(169, 3, 41, 1) 0%,
		rgba(143, 2, 34, 1) 86%, rgba(143, 2, 34, 1) 86%, rgba(109, 0, 25, 1)
		100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(              
		                     startColorstr='#a90329', endColorstr='#6d0019',
		GradientType=0); /* IE6-9 */
	color: #ffffff;
	font-family: Helvetica35-Thin;
	font-size: 14px;
	text-align: center;
}

.icon-user {
	margin-left: 15px;
	margin-top: 25px;
}

.icon-password {
	margin-left: 15px;
	margin-top: 20px;
}

.input-user {
	height: 20px;
	position: relative;
	width: 190px;
	border: 0;
	font-family: Helvetica35-Thin;
	font-size: 15px;
	margin-left: 8px;
	background: #f2efef;
}

.div-input-user {
	float: left;
	margin-top: 25px;
}

.input-password {
	height: 20px;
	width: 190px;
	margin-left: 10px;
	margin-top: 23px;
	border: 0;
	background: #f2efef;
	font-family: Helvetica35-Thin;
	font-size: 15px;
}

.div-left {
	float: left;
}

.div-button-entrar {
	background: url('../companies/img/icones/login/bg_button.png') no-repeat;
	width: 222px;
	height: 42px;
	position: absolute;
	margin-top: 110px;
	margin-left: 15px;
	font-family: Helvetica35-Thin;
	font-size: 14px;
	color: #F8F8F8;
	text-align: center;
}

.div-button-senha {
	background: url('../companies/img/icones/login/bg_button_senha.png')
		no-repeat;
	height: 42px;
	width: 222px;
	margin-left: 35px;
	margin-top: -100px;
	font-family: Helvetica35-Thin;
	font-size: 14px;
	color: #F8F8F8;
}

.div-texto-button-senha {
	text-align: center;
	width: 222px;
	height: 42px;
	display: table-cell;
	vertical-align: middle;
}

.texto-termos {
	font-family: Helvetica35-Thin;
	font-size: 11px;
	color: #6C6C6C;
}

.seta-topo {
	margin-top: -450px;
	margin-left: 10px;
}

.xis-topo {
	margin-top: -465px;
	margin-left: 270px;
}
</style>

<!-- CORPO -->
<div id="div-corpo">
	<div class="teste">
		<img src="../companies/img/icones/login/icon-espiral.png"
			style="margin-left: 45px; margin-top: -15px;" /> <img
			src="../companies/img/icones/login/logo-login.png"
			style="margin-top: 50px; margin-left: 25px;" />
	</div>

	<img src="../companies/img/icones/login/icon-xicara.png"
		style="margin-top: -390px; margin-left: 200px;" />
	<p>
		<img src="../companies/img/icones/login/icon-caneta.png"
			style="margin-top: -318px; margin-left: 190px;" />
	</p>

	<!-- inputs  -->

	<div class="inputs_box">
		<!-- usuario -->
		<div class="div-left">
			<img src="../companies/img/icones/login/icon-usuario.png"
				class="icon-user" />
		</div>
		<div class="div-input-user">
			<input type="text" class="input-user" onfocus="this.value=''"
				value="Usuário" />
		</div>

		<!-- senha -->
		<div class="div-left">
			<img src="../companies/img/icones/login/icon-senha.png"
				class="icon-password" />
		</div>
		<div style="float: left;">
			<input type="password" class="input-password" onfocus="this.value=''"
				value="Senha" />
		</div>

		<div class="div-button-entrar">
			<p style="margin-top: 15px;">ENTRAR</p>
		</div>

		<div style="margin-top: 160px; margin-left: 35px; position: absolute;">
			<p class="texto-termos">Termos de Uso - Politica de Privacidade</p>
		</div>
	</div>

	<div class="div-button-senha">
		<div class="div-texto-button-senha">ESQUECI MINHA SENHA</div>
	</div>

	<!-- seta e botao sair -->
	<img src="../companies/img/icones/login/icon-seta.png"
		class="seta-topo" />
	<p>
		<img src="../companies/img/icones/login/button-exit.png"
			class="xis-topo" />
	</p>
	

</div>