	<?php
	echo $this->Html->script ( 'jquery.validate', array (
			'inline' => false 
	) );
	echo $this->Html->script ( 'ckEditor/ckeditor' );
	echo $this->Html->script ( 'empresas/ofertas' );
	
	echo "<link rel=\"stylesheet\"href=\"http://code.jquery.com/ui/1.9.0/themes/base/jquery-ui.css\"/>";
	echo "<script src=\"http://code.jquery.com/jquery-1.8.2.js\"></script>";
	echo "<script src=\"http://code.jquery.com/ui/1.9.0/jquery-ui.js\"></script>";
	?>

<script>
$(function() {
    $( "#calendarioInicio" ).datepicker();
});

$(function() {
    $( "#calendarioFinal" ).datepicker();
});
</script>

<!-- SCRIPT PARA MUDAR SIMBOLO DO MENU HORIZONTAL -->

<script type="text/javascript">

	function directOrPublic(number)
	{
		if(number == '1'){

			$('.first-line-quadro-direito-publica').css("color", "#acacac");
			$('.first-line-quadro-direito-publica').css("background-color", "#ffffff");
			$('.first-line-quadro-direito-publica').css("background-position", "50% 35px");
			
			$('.first-line-quadro-esquerdo-direcionada').css("color", "#ffffff");
			$('.first-line-quadro-esquerdo-direcionada').css("background-color", "#edc145");
			$('.first-line-quadro-esquerdo-direcionada').css("background-position", "50% -123px");
			
			}

		if(number ==  '2'){

			$('.first-line-quadro-esquerdo-direcionada').css("color", "#acacac");
			$('.first-line-quadro-esquerdo-direcionada').css("background-color", "#ffffff");
			$('.first-line-quadro-esquerdo-direcionada').css("background-position", "50% 35px");
				
			$('.first-line-quadro-direito-publica').css("color", "#ffffff");
			$('.first-line-quadro-direito-publica').css("background-color", "#edc145");
			$('.first-line-quadro-direito-publica').css("background-position", "50% -126px");
			
			}
		}

	function productOrService(number){

			if(number == '1'){

				$('.first-line-quadro-direito-servico').css("color", "#acacac");
				$('.first-line-quadro-direito-servico').css("background-color", "#ffffff");
				$('.first-line-quadro-direito-servico').css("background-position", "50% 35px");

				$('.first-line-quadro-esquerdo-produto').css("color", "#ffffff");
				$('.first-line-quadro-esquerdo-produto').css("background-color", "#edc145");
				$('.first-line-quadro-esquerdo-produto').css("background-position", "50% -123px");
				
				}

			if(number == '2'){

				$('.first-line-quadro-direito-servico').css("color", "#ffffff");
				$('.first-line-quadro-direito-servico').css("background-color", "#edc145");
				$('.first-line-quadro-direito-servico').css("background-position", "50% -126px");

				$('.first-line-quadro-esquerdo-produto').css("color", "#acacac");
				$('.first-line-quadro-esquerdo-produto').css("background-color", "#ffffff");
				$('.first-line-quadro-esquerdo-produto').css("background-position", "50% 35px");

				}
		 
		}
		
	function unblockStatics(staticsNumber){
	
		document.getElementById('staticsGenero').style.display="none";
		document.getElementById('staticsLocalidade').style.display="none";
		document.getElementById('staticsFaixaEtaria').style.display="none";
		document.getElementById('staticsPolitica').style.display="none";
		document.getElementById('staticsRelacionamento').style.display="none";
		document.getElementById('staticsReligiao').style.display="none";
	
		$('.genero').css("color","#666666");
		$('.localidade').css("color","#666666");
		$('.faixa').css("color","#666666");
		$('.politica').css("color","#666666");
		$('.relacionamento').css("color","#666666");
		$('.religiao').css("color","#666666");
	
		if(staticsNumber == '1'){
			document.getElementById('staticsGenero').style.display="block";
			$('.genero').css("color","#f27a02");
			}
	
		if(staticsNumber == '2'){
			document.getElementById('staticsLocalidade').style.display="block";
			$('.localidade').css("color","#f27a02");
			}
	
		if(staticsNumber == '3'){
			document.getElementById('staticsFaixaEtaria').style.display="block";
			$('.faixa').css("color","#f27a02");
			}
	
		if(staticsNumber == '4'){
			document.getElementById('staticsPolitica').style.display="block";
			$('.politica').css("color","#f27a02");
			}
	
		if(staticsNumber == '5'){
			document.getElementById('staticsRelacionamento').style.display="block";
			$('.relacionamento').css("color","#f27a02");
			}
	
		if(staticsNumber == '6'){
			document.getElementById('staticsReligiao').style.display="block";
			$('.religiao').css("color","#f27a02");
			}
	}
	
	function unblockUperImage(uperNumber){
	
		if(uperNumber == '1'){
			$('.eighthline-botao-1').css("background-position","0 0px");
			$('.eighthline-botao-2').css("background-position","0 -60px");
			document.getElementById('box1').style.display="block";
			document.getElementById('box2').style.display="none";
		}
		if(uperNumber == '2'){
			$('.eighthline-botao-2').css("background-position","0 0px");
			$('.eighthline-botao-1').css("background-position","0 -60px");
			document.getElementById('box2').style.display="block";
			document.getElementById('box1').style.display="none";
			}
		
	}
	
	function unblockLine(lineNumber){
	
		document.getElementById('firstline-body').style.display="none";
		document.getElementById('secondline-body').style.display="none";
		document.getElementById('thirdline-body').style.display="none";
		document.getElementById('fourthline-body').style.display="none";
		document.getElementById('fifthline-body').style.display="none";
		document.getElementById('sixthline-body').style.display="none";
		document.getElementById('seventhline-body').style.display="none";
		document.getElementById('eighthline-body').style.display="none";
		document.getElementById('ninthline-body').style.display="none";
		
		if(lineNumber == "1"){
			document.getElementById('firstline-body').style.display="block";
		}
		if(lineNumber == "2"){
			document.getElementById('secondline-body').style.display="block";
			}
		if(lineNumber == "3"){
			document.getElementById('thirdline-body').style.display="block";
			}
		if(lineNumber == "4"){
			document.getElementById('fourthline-body').style.display="block";
			}
		if(lineNumber == "5"){
			document.getElementById('fifthline-body').style.display="block";
			}
	
		if(lineNumber == "6"){
			document.getElementById('sixthline-body').style.display="block";
			}
	
		if(lineNumber == "7"){
			document.getElementById('seventhline-body').style.display="block";
			}
		
		if(lineNumber == "8"){
			document.getElementById('eighthline-body').style.display="block";
			}
	
		if(lineNumber == "9"){
			document.getElementById('ninthline-body').style.display="block";
			}
		
	}
	
	function testeTeste(num){
		document.getElementById('cont-ver-ofertas').style.display="none";
		
		if(num == '1'){
			document.getElementById('cont-ver-ofertas').style.display="none";
			}
		 if(num == '2'){
			 document.getElementById('cont-ver-ofertas').style.display="block";
		}
		
		
	}
	
	function AlteraClasse1(texto){
			var classe = "." + texto;
			if(classe == ".botao-lateral-esquerdo-ver-ofertas"){
				$(classe).css("color","#ffffff");
			   	$(classe).css("background-color", "#edc145");
			   	$(classe).css("background-position", "center -105px");
			   	$(classe).css("border", "1px solid");
			}
	
			if(classe == ".botao-lateral-esquerdo-cad-ofertas"){
				$(classe).css("color","#ffffff");
			   	$(classe).css("background-color", "#edc145");
			   	$(classe).css("background-position", "center -105px");
			   	$(classe).css("border", "1px solid");
			}
	
			if(classe == ".botao-lateral-esquerdo-meu-publico"){
				$(classe).css("color","#ffffff");
			   	$(classe).css("background-color", "#edc145");
			   	$(classe).css("background-position", "center -105px");
			   	$(classe).css("border", "1px solid");
			}
	}
	
	function verificaCheckbox(){
		
	}
	</script>

<!-- CORPO -->
<div class="fundo-cad-ofer">

	<!-- LADO ESQUERDO -->
	<div class="lado-esquerdo-cad-ofer">
		<div class="botao-lateral-esquerdo-ver-ofertas"
			onclick="AlteraClasse1('botao-lateral-esquerdo-ver-ofertas')">
			<br />ver<br /> ofertas <br />
		</div>
		<div class="botao-lateral-esquerdo-cad-ofertas"
			onclick="AlteraClasse1('botao-lateral-esquerdo-cad-ofertas')"
			id="teste">
			<br />cadastrar oferta <br />
		</div>
		<div class="botao-lateral-esquerdo-meu-publico"
			onclick="AlteraClasse1('botao-lateral-esquerdo-meu-publico')">
			<br />meu <br />publico <br />
		</div>

		<div class="botoes-esquerdo-inferior-cad-ofer">
			<div class="botoes-laranja-cad-ofer">Vizualizar</div>
			<div class="botoes-laranja-cad-ofer">Publicar</div>
		</div>
	</div>

	<!-- MEIO - CORPO - RENDERIZA TODO CONTEUDO AQUI-->
	<div class="meio-cad-ofer">

		<!-- VER OFERTAS CONTEUDO -->
		<div id="cont-ver-ofertas">
			<div class="menu-cabecalho-cad-ofer">
				<div class="ver-ofertas-botao" onclick="testeTeste('1')">Todas</div>
				<div class="ver-ofertas-botao">ativas</div>
				<div class="ver-ofertas-botao">inativas</div>
				<div class="ver-ofertas-botao-filtro">opcoes de filtro</div>
			</div>
			<hr id="cad-ofer-ver"
				style=" margin-top: -5px; border-top: 1px solid #eeeeee;" />
		</div>

		<!-- MEU PUBLICO -->
		<div id="cont-meu-publico">
			<div class="meu-publico-cabecalho-cad-ofer">
				<div class="cabecalho-titulo-cad-ofer">
					<div class="cabecalho-titulo-texto-cad-ofer">
						Quantidade de usuarios <br /> cadastrados na sua base
					</div>
				</div>
				<div class="cabecalho-qtd-cad-ofer">999.999.999.999</div>
			</div>


			<div class="cont-botoes-rodape">CONTEUDO</div>

			<div class="meu-publico-rodape-cad-ofer">
				<div class="meu-publico-rodape-botao" name="meuCheck1"></div>
				<div class="meu-publico-rodape-botao"></div>
				<div class="meu-publico-rodape-botao"></div>
				<div class="meu-publico-rodape-botao"></div>
				<div class="meu-publico-rodape-botao"></div>
				<div class="meu-publico-rodape-botao"></div>
			</div>
		</div>

		<!-- CADASTRAR OFERTA -->
		<div class="cont-cad-oferta" id="cont-cad-oferta">
			<div class="cad-oferta-corpo">

				<!-- FIRST LINE -->
				<div id="firstLine" onclick="unblockLine('1')">
					<div class="linha-numero-laranja">1</div>
					<div class="linha-impar-nome">
						<span class="texto-linha">Qual tipo de oferta voce vai cadastrar</span>
					</div>
					<div class="firstline-body" id="firstline-body">
						<div class="first-line-cabecalho">
							<div class="first-line-titulo" onselectstart="return false">Essa
								é uma oferta...</div>
							<div class="first-line-titulo">Voce vai vender um...</div>
						</div>
						<div class="first-line-quadro-pai-um">
							<div class="first-line-quadro-esquerdo-direcionada"
								id="direcionada" onclick="directOrPublic('1')">Direcionada</div>
							<div class="first-line-quadro-direito-publica" id="publica"
								onclick="directOrPublic('2')">Pública</div>
						</div>
						<div class="first-line-quadro-pai-dois">
							<div class="first-line-quadro-esquerdo-produto" id="produto"
								onclick="productOrService('1')">Produto</div>
							<div class="first-line-quadro-direito-servico" id="servico"
								onclick="productOrService('2')">Serviço</div>
						</div>

					</div>
				</div>

				<!-- SECOND LINE -->
				<div id="secondLine" onclick="unblockLine('2')">
					<div class="linha-numero-laranja">2</div>
					<div class="linha-par-nome">
						<span class="texto-linha">Titulo e Resumo</span>
					</div>
					<div class="secondline-body" id="secondline-body">
						<input type="text" id="offerTitulo" onfocus="this.value=''"
							value="Titulo da oferta">
							<!-- RESUMO DA OFERTA: 800 CARACTERES -->
							<!-- TITULO DA OFERTA: 100 CARACTERES -->
						<textarea onfocus="this.value=''">Resumo da Oferta</textarea>
					</div>
				</div>

				<!-- THIRD LINE -->
				<div id="thirdLine" onclick="unblockLine('3')">
					<div class="linha-numero-laranja">3</div>
					<div class="linha-impar-nome">
						<span class="texto-linha">Valores e parcelamento</span>
					</div>
					<div class="thirdline-body" id="thirdline-body">
						<div class="thirdline-diviser-left">
							<div class="thirdline-diviser-left-line1">
								<input type="text" value="Preço original"
									onfocus="this.value=''" /> <input type="text"
									value="Preço da oferta" onfocus="this.value=''" id="test" />
								<div id="textUP">
									<div>
										<span>10%</span>
									</div>
									<div id="textDOWN">de desconto</div>
								</div>
							</div>
							<div style="margin-top: 20px;">
								<input type="text" value="Peso KG" onfocus="this.value=''" /> <input
									type="radio" name="radiog_lite" id="radio1"
									class="css-checkbox" /><label for="radio1" class="css-label">Correios</label>
								<input type="radio" name="radiog_lite" id="radio2"
									class="css-checkbox" /><label for="radio2" class="css-label">Transportadora</label>
							</div>
							<div style="text-align: right;">
								<input type="text" value="Prazo em dias" id="prazo"
									onfocus="this.value=''"> <input type="text" value="Valor"
									id="valor" onfocus="this.value=''">
							</div>
						</div>

						<div class="thirdline-diviser-right"
							style="margin-left: 5px; float: left; width: 30%; font-family: Helvetica35-Thin; font-size: 12px; text-align: center; margin-top: 40px;">
							<span>Essa oferta pode ser parcelada?</span>

							<div style="margin-top: 8px;">
								<input type="radio" name="parcels" id="parcelsYes"
									class="css-checkbox" /><label for="parcelsYes"
									class="css-label" style="margin-left: -10px;">Sim</label> <input
									type="radio" name="parcels" id="parcelsNo" class="css-checkbox" /><label
									for="parcelsNo" class="css-label" style="margin-left: 10px;">Não</label>
							</div>

							<div style="margin-top: 15px;">
								<span>Incluir juros no parcelamento?</span>
							</div>
							<div style="margin-top: 10px;">
								<input type="radio" name="interest" id="interestYes"
									class="css-checkbox" /><label for="interestYes"
									class="css-label" style="margin-left: -10px;">Sim</label> <input
									type="radio" name="interest" id="interestNo"
									class="css-checkbox" /><label for="interestNo"
									class="css-label" style="margin-left: 10px;">Não</label>
							</div>
						</div>
					</div>
				</div>

				<!-- FOURTH LINE -->
				<div id="fourthLine" onclick="unblockLine('4')">
					<div class="linha-numero-laranja">4</div>
					<div class="linha-par-nome">
						<span class="texto-linha">Descrição</span>
					</div>

					<div class="fourthline-body" id="fourthline-body">
						<!-- TROCAR POR CKeditor -->
						<div
							style="padding-top: 5px; margin-left: 15px; margin-right: 5px; border-bottom: 5px;">
							<textarea name="data[Offer][description]"
								class="textbox ckeditor" id="textEditor"></textarea>
						</div>
						<!--  <textarea
							style="margin-left: 35px; width: 92%; height: 170px; margin-top: 10px;"
							cols=""></textarea> -->
					</div>
				</div>

				<!-- FIFTH LINE -->
				<div id="fifthline" onclick="unblockLine('5')">
					<div class="linha-numero-laranja">5</div>
					<div class="linha-impar-nome">
						<span class="texto-linha">Especificações</span>
					</div>
					<div class="fifthline-body" id="fifthline-body">
						<div
							style="padding-top: 5px; margin-left: 15px; margin-right: 5px;">
							<textarea name="data[Offer][description]"
								class="textbox ckeditor" id="textEditor"></textarea>
						</div>
					</div>
				</div>

				<!-- SIXTH LINE -->
				<div id="sixthline" onclick="unblockLine('6')">
					<div class="linha-numero-laranja">6</div>
					<div class="linha-par-nome">
						<span class="texto-linha">Opções do produto</span>
					</div>

					<div class="sixthline-body" id="sixthline-body">
						<div id="selectbox">
							<select id="selectbox">
								<option>Categoria</option>
							</select>
						</div>
						<div
							style="font-size: 16px; font-family: Helvetica35-Thin; color: #666666; width: 135px; background: #ffffff; height: 160px; float: left; margin-left: 15px; margin-top: 10px; padding-left: 5px; padding-top: 10px;">Cor</div>
						<div id="selectboxTamanho">
							<select id="selectboxTamanho">
								<option>Tamanho</option>
							</select>
						</div>
					</div>
				</div>

				<!-- SEVENTH LINE -->
				<div id="seventhline" onclick="unblockLine('7')">
					<div class="linha-numero-laranja">7</div>
					<div class="linha-impar-nome">
						<span class="texto-linha">Agendamento</span>
					</div>

					<div id="seventhline-body" class="seventhline-body">
						<div>
							<div id="selectbox">
								<input type="text" id="calendarioInicio" value="Data inicial">
							</div>

							<div id="selectboxDatafinal">
								<input type="text" id="calendarioFinal" value="Data final">
							</div>
						</div>
					</div>
				</div>

				<!-- EIGHTH LINE -->
				<div id="eighthline" onclick="unblockLine('8')">
					<div class="linha-numero-laranja">8</div>
					<div class="linha-par-nome">
						<span class="texto-linha">Imagens</span>
					</div>

					<div class="eighthline-body" id="eighthline-body">
						<div id="eighthline-lado-esquerdo">
							<div class="eighthline-botao-1" onclick="unblockUperImage('1')"></div>
							<div class="eighthline-botao-2" onclick="unblockUperImage('2')"></div>
						</div>
						<div id="box1">
							<span class="eighthline-box1" id="title">Qual a primeira imagem
								que o usuário verá do seu produto?</span>

							<div class="eighthline-box1" id="uperBack">
								<div class="eighthline-box1" id="imageBack">
							<?php echo $this->Html->image('icones/pre-cadastro/icon-upload.png', array('style','margin-left:3px'));?>
							</div>
								<input type="file" class="eighthline-box1" id="uper" />
							</div>
							<div>
								<div class="eighthline-box1" id="divDown">
									<div style="float: left;">
										<?php echo $this->Html->image('icones/cadastro-oferta/icon-exclamacao-branco-small.png');?>
										</div>
									<span class="eighthline-box1" id="textBody">O limite máximo
										aceito é de 5mb. <br />Somente é possivel fazer o upload de
										imagens nos <br /> formatos ".jpeg - .png - .gif".
									</span>
								</div>
							</div>
						</div>
						<div id="box2">
					
							<span class="eighthline-box2" id="title">Adicione as imagens
								extras da sua oferta</span>
								<p></p>
							<div class="eighthline-box2" id="divLeft">
								<!-- UPER 1 -->
								<div class="eighthline-box2" id="uperBack1">
									<div class="eighthline-box2" id="imageBack1">
							<?php echo $this->Html->image('icones/pre-cadastro/icon-upload.png', array('style','margin-left:3px'));?>
							</div>
									<input type="file" class="eighthline-box2" id="uper1" />
								</div>
								<!-- UPER 2 -->
								<div class="eighthline-box2" id="uperBack2">
									<div class="eighthline-box2" id="imageBack2">
							<?php echo $this->Html->image('icones/pre-cadastro/icon-upload.png', array('style','margin-left:3px'));?>
							</div>
									<input type="file" class="eighthline-box2" id="uper2" />
								</div>
								<!-- text span --> 
								<div id="textBody2">
									<div style="float: left; margin-left: 26px;">
										<?php echo $this->Html->image('icones/cadastro-oferta/icon-exclamacao-branco-smaller.png');?>
										</div>
									<span class="eighthline-box2" id="textBody">O limite máximo
										aceito por imagem é de 2mb.<br /> Somente é possivel fazer o
										upload de imagens<br /> nos formatos ".jpeg - .png - .gif".
									</span>
								</div>
							</div>
							<!-- right -->
							<div class="eighthline-box2" id="divRight">

								<!-- UPER 3 -->
								<div class="eighthline-box2" id="uperBack3">
									<div class="eighthline-box2" id="imageBack3">
							<?php echo $this->Html->image('icones/pre-cadastro/icon-upload.png', array('style','margin-left:3px'));?>
							</div>
									<input type="file" class="eighthline-box2" id="uper3" />
								</div>

								<!-- UPER 4 -->
								<div class="eighthline-box2" id="uperBack4">
									<div class="eighthline-box2" id="imageBack4">
							<?php echo $this->Html->image('icones/pre-cadastro/icon-upload.png', array('style','margin-left:3px'));?>
							</div>
									<input type="file" class="eighthline-box2" id="uper4" />
								</div>

								<!-- UPER 5 -->
								<div class="eighthline-box2" id="uperBack5">
									<div class="eighthline-box2" id="imageBack5">
							<?php echo $this->Html->image('icones/pre-cadastro/icon-upload.png', array('style','margin-left:3px'));?>
							</div>
									<input type="file" class="eighthline-box2" id="uper5" />
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- NINTH LINE -->
				<div id="ninthline" onclick="unblockLine('9')">
					<div class="linha-numero-laranja">9</div>
					<div class="linha-impar-nome">
						<span class="texto-linha">Público</span>
					</div>

					<div class="ninthline-body" id="ninthline-body">
						<div>
							<span class="ninthline-body-title" id="offersUser">Usuários da
								sua oferta: 999999</span> <span class="ninthline-body-title"
								id="pubTotal">Público total: 9999 usuários</span>
						</div>

						<div id="ninthline-right-menu">
							<ul class="ninth-menuver" id="ninth-menuver">
								<li onclick="unblockStatics('1')" class="genero">Genero</li>
								<li onclick="unblockStatics('2')" class="localidade">Localidade</li>
								<li onclick="unblockStatics('3')" class="faixa">Faixa etária</li>
								<li onclick="unblockStatics('4')" class="politica">Politica</li>
								<li onclick="unblockStatics('5')" class="relacionamento">Relacionamento</li>
								<li onclick="unblockStatics('6')" class="religiao">Religi&atilde;o</li>
							</ul>
						</div>
						<div id="staticsBody">
							<!-- GENERO -->
							<div id="staticsGenero">
								<div class="staticsBox-cad-ofer" id="maleBox">
									<span>Masculino</span> <br />
									<p id="porcentagem">40%</p>
								</div>
								<div class="staticsBox-cad-ofer" id="femaleBox">
									<span>Feminino</span> <br />
									<p id="porcentagem">40%</p>
								</div>
								<div class="staticsBox-cad-ofer" id="uninformedBox">
									<span>N&atilde;o informado</span> <br />
									<p id="porcentagem">20%</p>
								</div>
							</div>

							<!-- LOCALIDADE -->
							<div id="staticsLocalidade">
								<div class="staticsBox-cad-ofer" id="maleBox">
									<span>Masculino</span> <br />
									<p id="porcentagem">40%</p>
								</div>
							</div>

							<!-- FAIXA ETARIA -->
							<div id="staticsFaixaEtaria">
								<div class="staticsBox-cad-ofer" id="maleBox">
									<span>Masculino</span> <br />
									<p id="porcentagem">40%</p>
								</div>
							</div>

							<!-- POLITICA -->
							<div id="staticsPolitica">
								<div class="staticsBox-cad-ofer" id="maleBox">
									<span>Masculino</span> <br />
									<p id="porcentagem">40%</p>
								</div>
							</div>

							<!-- RELACIONAMENTO -->
							<div id="staticsRelacionamento">
								<div class="staticsBox-cad-ofer" id="maleBox">
									<span>Masculino</span> <br />
									<p id="porcentagem">40%</p>
								</div>
							</div>

							<!-- RELIGIAO -->
							<div id="staticsReligiao">
								<div class="staticsBox-cad-ofer" id="maleBox">
									<span>Masculino</span> <br />
									<p id="porcentagem-cad-ofer">40%</p>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>