<?php
?>
<script type="text/javascript">

	function mudaBotao(classee){
		var classe = "." + classee;
		if(classe == ".botao-dados-cadastrais-configs"){
			$(classe).css("color","#ffffff");
		   	$(classe).css("background-color", "#edc145");
		}
		if(classe == ".botao-frete"){
			$(".botao-frete-configs").css("color","#ffffff");
		   	$(".botao-frete-configs").css("background-color", "#edc145");
			}
		
	}

</script>

<div class="body-config">

	<div class="config-lado-esquerdo">

		<div class="botao-dados-cadastrais-configs"
			onclick="mudaBotao('botao-dados-cadastrais')">dados cadastrais</div>

		<div class="botao-frete-configs" id="frete"
			onclick="mudaBotao('botao-frete-configs')">
			opções <br />de frete
		</div>

		<div class="botao-alterar-senha-configs" id="alterar-senha">
			alterar <br />senha
		</div>

		<div class="botao-home-configs" id="home"></div>
	</div>

	<div class="header-configs">
		<div class="div-title-configs">
			<span class="title-configs">Dados principais</span>
			<div class="helpTitle-configs">
				<span> Central de ajuda </span>
			</div>
		</div>
	</div>

</div>