<?php
?>

<div class="wish-body">
	<!-- TITULO -->
	<div class="wish-title">
		<br> <span class="title-wish">Lista de desejos para sua empresa</span><br />
		<div class="subtitle-wish">Aqui voc&#234; recebe os pedidos de ofertas de
			usuários assinantes da sua empresa</div>
	</div>
	<hr />

	<!-- LISTA - TABELA -->

	<div class="wish-body-table">
		<div class="table-header">
			<div class="header-table-title">
				<span class="header-title-text">O que seu cliente deseja?</span>
			</div>
			<div class="header-orange-number">58</div>
		</div>

		<table class="table-wish">
			<tr>
				<th id="cliente">CLIENTE</th>
				<th id="produto">PRODUTO</th>
				<th id="dataSolicitacao">DATA DA <br />SOLICITACAO
				</th>
				<th id="dataLimite">DATA LIMITE <br />PARA OFERTA
				</th>
				<th id="voceTem">VOCE TEM?</th>
			</tr>
			<tr>
				<td class="td-wish"><span id="clienteNome">Rafael Felipe da Silva</span> <span
					id="clienteLocal">Santa Isabel - SP</span></td>

				<td class="td-wish"><span id="produto">Computador novo</span><br /> <span
					id="descPedido">Estou aqui para pedir um compurtador mais barato,
						esses dias as ofertas estao muito caras.</span></td>

				<td class="td-wish" id="data"><span>03/04/2014</span></td>

				<td class="td-wish" id="data"><span>30/08/2014</span></td>

				<td class="td-wish">
					<button type="submit" style="border: 0; background: transparent; padding: 0px; margin-left: 25%;">
						<?php echo $this->Html->image('icones/wishlist/confirm-button.png');?>
					</button>
					
					<button type="submit" style="border: 0; background: transparent; padding: 0px;">
						<?php echo $this->Html->image('icones/wishlist/decline-button.png');?>
					</button>
				</td>
			</tr>
		</table>

	</div>
</div>