<style>
.teste {
	bottom: 0;
	background: #ffffff;
	width: 100%;
	height: 35px;
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 999;
	box-shadow: -20px 2px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.5);
}

ul.menu-horizontal {
	width: 100%;
	height: 40px;
	margin: 0;
	bottom: 0;
	position: absolute;
	font-family: Helvetica35-Thin;
	color: #4f5151;
}

ul.menu-horizontal li {
	display: inline;
}

ul.menu-horizontal li a {
	display: block;
	float: left;
	height: 50px;
	color: #000;
	width: 115px;
	line-height: 57px;
	font-size: 16px;
	font-weight: bold;
	left: 0;
}

ul.menu-horizontal li a.dashboard {
	background-image:
		url("../img/icones/dashboard/icone-dashboard-smallr.png");
	background-repeat: no-repeat;
	background-position: left 4px;
	text-align: right;
	text-decoration: none;
}

ul.menu-horizontal li a.oferta {
	background-image:
		url("../img/icones/dashboard/icon-dash-offers-smaller.png");
	background-repeat: no-repeat;
	background-position: left 4px;
	text-align: right;
	width: 75px;
	margin-left: 40px;
	text-decoration: none;
	margin-left: 40px;
}

ul.menu-horizontal li a.compras {
	background-image:
		url("../img/icones/dashboard/icon-dash-compras-smaller.png");
	background-repeat: no-repeat;
	background-position: left 4px;
	text-align: right;
	width: 100px;
	margin-left: 40px;
	text-decoration: none;
	margin-left: 40px;
}

ul.menu-horizontal li a.assinaturas {
	background-image:
		url("../img/icones/dashboard/icon-dash-signatures-smaller.png");
	background-repeat: no-repeat;
	background-position: left 4px;
	text-align: right;
	width: 115px;
	margin-left: 40px;
	text-decoration: none;
	margin-left: 40px;
}

ul.menu-horizontal li a.publico {
	background-image:
		url("../img/icones/dashboard/icon-dash-public-smaller.png");
	background-repeat: no-repeat;
	background-position: left 4px;
	text-align: right;
	width: 85px;
	margin-left: 40px;
	text-decoration: none;
	margin-left: 40px;
}

ul.menu-horizontal li a.wishlist {
	background-image:
		url("../img/icones/dashboard/icon-dash-wish-smaller.png");
	background-repeat: no-repeat;
	background-position: left 4px;
	text-align: right;
	width: 90px;
	margin-left: 40px;
	text-decoration: none;
	margin-left: 40px;
}
</style>

<!-- SCRIPT PARA MUDAR O SIMBOLO DO MENU HORIZONTAL -->
<script type="text/javascript">

function AlteraClasse(texto){
	
		var classe = "." + texto;
		
		$(classe).css("background-position","0 -36px");
	   	$(classe).css("color","#da7600");
}

</script>
<!-- corpo -->
<div class="teste">

	<ul class="menu-horizontal">
		<li><a class="dashboard" href="#" onclick="AlteraClasse('dashboard')">Dashboard</a></li>
		<li><a class="oferta" href="#" onclick="AlteraClasse('oferta')">Oferta</a></li>
		<li><a class="compras" href="#" onclick="AlteraClasse('compras')">Compras</a></li>
		<li><a class="assinaturas" href="#"
			onclick="AlteraClasse('assinaturas')">Assinaturas</a></li>
		<li><a class="publico" href="#" onclick="AlteraClasse('publico')">Público</a></li>
		<li><a class="wishlist" href="#" onclick="AlteraClasse('wishlist')">Wishlist</a></li>
	</ul>
</div>
