.teste-teste {
	background: red;
	border: 1px solid;
}

.fixatopo {
	position: fixed !important;
	top: 0px !important;
	width: 100% !important;
	z-index: 99999999999999999 !important;
}

.topo-topo {
	width: 100%;
	height: 50px;
	background-color: #000;
	z-index: 99999999;
	position: relative;
	position: fixed;
}

.testess {
	background: red;
	width: 100px;
	height: 100px;
}

/* TELA ---------------- PRE-CADASTRO DA EMPRESA*/
a#help {
	color: #777777;
}

a#terms {
	color: #000000;
}

.pre-cadastro-form-body {
	background: #ffffff;
}

.pre-cadastro-form-fieldsetbody {
	background: #ffffff;
}

.pre-cadastro-title-body {
	width: 80%;
	height: auto;
	display: table;
	margin: 5% auto;
	position: relative;
	margin-top: 70px;
}

#pre-cadastro-titulo-back {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	margin-top: 1%;
}

.pre-cadastro-titulo {
	font-family: Helvetica35-Thin;
	font-size: 19px;
	color: #000000;
}

.pre-cadastro-interrogacao-titulo {
	float: right;
	text-align: center;
	width: 17%;
}

.pre-cadastro-central-ajuda {
	font-size: 18px;
	font-family: Helvetica35-Thin;
	font-weight: bold;
	color: #000000;
	margin-top: 4px;
}

.pre-cadastro-form-body {
	width: 100%;
}

.pre-cadastro-form-fieldsetbody {
	width: 97.5%;
	border: 1px solid #DCDCDC;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

h3#informes {
	font-family: Helvetica;
	font-size: 14px;
}

h3#field-title {
	color: #000000;
	font-family: Helvetica35-Thin;
	font-size: 16px;
}

p {
	font-family: Helvetica-Normal;
	color: #666666;
	text-decoration: none;
}

.infos-descricao {
	font-family: Helvetica35-Thin;
	line-height: 15px;
	font-size: 12px;
	color: #777777;
}

/* campo email */
fieldset {
	border: 1px solid #DCDCDC;
}

.input-email-background {
	border: 1px solid #DCDCDC;
	height: 25px;
	width: 94%;
}

.input-email-image {
	float: left;
	vertical-align: middle;
	margin-top: 10px;
}

.input-email {
	margin-left: 3px;
	height: 25px;
	width: 90%;
	border: 0;
	padding-left: 10px;
	font-family: Helvetica35-Thin;
	font-size: 16px;
	margin-top: 5.5px;
	color: #666666;
}

.input-email-warning-body {
	margin-left: 8px;
	width: 95%;
	float: left;
}

.input-email-warning-text {
	float: left;
	width: 80%;
	text-align: center;
	margin-left: 8px;
	font-size: 13px;
	line-height: 15px;
	font-family: Helvetica35-Thin;
	margin-top: 45px;
}

.input-email-warning-image {
	line-height: 80px;
	width: 30px;
	float: left;
	height: 30px;
	margin-top: 63px;
}

.image-exclamacao {
	float: left;
}

/* responsavel pela empresa */
.input-responsavel-body {
	
}

.input-responsavel-lado-esquerdo {
	width: 60%;
	float: left;
}

.input-responsavel-lado-direito {
	width: 40%;
	float: left;
	margin-left: -10px;
}

.input-responsavel {
	border: 1px solid #DCDCDC;
	height: 35px;
	width: 570px;
	padding-left: 5px;
	font-family: Helvetica35-Thin;
	font-size: 16px;
	color: #666666;
	margin-top: -15px;
}

.input-responsavel-smaller {
	border: 1px solid #DCDCDC;
	height: 35px;
	width: 133.5px;
	font-family: Helvetica35-Thin;
	font-size: 16px;
	padding-left: 5px;
	color: #666666;
}

/* dados da empresa */
.input-dados-emp-body {
	margin-top: 20px;
}

.input-dados-emp-background-input {
	float: left;
	border: 1px solid #DCDCDC;
	height: 30px;
	width: 260px;
	background: url('../companies/img/icones/ok.png') no-repeat #fff;
	background-position: 235px 50%;
}

.input-dados-emp-image {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

.input-dados-emp {
	margin-top: 6px;
	width: 70%;
}

.input-dados-emp-warning-body {
	float: left;
	width: 60%;
	margin-left: 15px;
}

.input-dados-emp-warning-text {
	float: left;
	width: 70%;
	text-align: left;
	margin-bottom: 15px;
	margin-left: 5px;
	font-size: 13px;
	line-height: 15px;
	font-family: Helvetica35-Thin;
}

.input-dados-formline {
	margin-top: 15px;
}

.input-dados-form {
	border: 1px solid #DCDCDC;
	height: 30px;
	font-family: Helvetica35-Thin;
	font-size: 16px;
	color: #666666;
}

.input-dados-form#tel1 {
	width: 125px;
	padding-left: 5px;
	border-left: 2px solid red;
}

.input-dados-form#tel2 {
	width: 125px;
	padding-left: 5px;
}

.input-dados-form#razaosocial {
	width: 560px;
	padding-left: 5px;
	border-left: 2px solid red;
}

.input-dados-form#nomefantasia {
	width: 350px;
	padding-left: 5px;
	border-left: 2px solid red;
}

.input-dados-form#cnpj {
	width: 175px;
	padding-left: 5px;
	border-left: 2px solid red;
}

.input-dados-form#email {
	width: 460px;
	padding-left: 5px;
	border-left: 2px solid red;
}

.input-dados-form#site {
	width: 450px;
	padding-left: 5px;
}

.input-dados-div-select {
	margin-left: 8px;
	float: left;
	width: 240px;
	height: 30px;
	overflow: hidden;
	background: url('../companies/img/icones/seta-select-two.png') no-repeat
		right #fff;
	border: 1px solid #ccc;
	border-left: 2px solid red;
}

.input-dados-select {
	background: transparent;
	width: 268px;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 30px;
	-webkit-appearance: none;
	font-family: Helvetica35-Thin;
	color: #666666;
}

/* endereco */
.input-endereco-body {
	margin-top: 20px;
}

.input-endereco {
	border: 1px solid #DCDCDC;
	height: 30px;
	font-family: Helvetica35-Thin;
	font-size: 16px;
	color: #666666;
	padding-left: 5px;
}

.input-endereco#CEP {
	width: 95px;
}

.input-endereco#Endereco {
	width: 355px;
}

.input-endereco#numero {
	width: 75px;
}

.input-endereco#complemento {
	width: 365px;
}

.input-endereco#Bairro {
	width: 255px;
}

.input-endereco#Cidade {
	width: 230px;
}

.input-endereco#Estado {
	width: 40px;
}

/* termos e condicoes */
.termos-body {
	margin-top: 20px;
	font-family: Helvetica35-Thin;
}

.termos-fieldset {
	border: 1px solid #DCDCDC;
	font-size: 18px;
	height: 40px;
	text-align: center;
	vertical-align: center;
}

/* botoes */
.botoes-body {
	margin-top: 15px;
}

.termos-txt {
	float: left;
	margin-top: 10px;
	margin-left: 15px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.amPmCheckbox {
	float: left;
	margin-top: 7px;
	margin-left: 25%;
}

.amPmCheckbox input[type="checkbox"] {
	display: none;
}

.amPmCheckbox input[type="checkbox"]+label {
	background: url('../companies/img/icones/botao-checkbox.png') no-repeat;
	background-position: 0 -108px;
	padding-left: 25px;
}

.amPmCheckbox input[type="checkbox"]:checked+label {
	background: url('../companies/img/icones/botao-checkbox.png') no-repeat;
}

label {
	font-size: 30px;
}

/* TELA ------------------------------------ ASSINATURAS*/
#signatures-vazio {
	display: block;
}

#signatures-registros {
	display: none;
}

.signatures-body {
	width: 90%;
	height: 87%;
	margin-left: 5%;
	margin-top: 3.6%;
	background: #ffffff;
}

.signatures-title {
	color: #000000;
	font-family: Helvetica35-Thin;
}

.title-signatures {
	font-size: 19px;
	margin-left: 13px;
}

.subtitle-signatures {
	font-size: 12px;
	color: #777777;
	margin-top: 5px;
	margin-left: 13px;
	float: left;
}

.signatures-button-plus {
	float: right;
	width: 23%;
	margin-right: 13px;
	height: 33px;
	margin-top: -20px;
	font-family: Helvetica35-Thin;
	color: #4f5151;
	background: #fafafa;
}

div#title-signatures {
	float: left;
	width: 75%;
	height: 100%;
	line-height: 250%;
	font-size: 14px;
	margin-left: 8px;
}

div#plus-signatures {
	float: right;
	background: #ff7f00;
	color: #ffffff;
	height: 100%;
	width: 15%;
	text-align: center;
	line-height: 82%;
	font-size: 40px;
}

.plus-image {
	margin-top: 13%;
	margin-left: 2%;
}

.signatures-lado-esquerdo {
	width: 50%;
	height: 50%;
	float: left;
}

.signatures-image {
	float: right;
	margin-top: 5%;
	margin-right: 10%;
}

.signatures-lado-direito {
	width: 30%;
	height: 50%;
	float: left;
	font-family: Helvetica;
	font-size: 13px;
	color: #414042;
	margin-top: 3.5%;
	line-height: 17px;
}

.signatures-lado-direito-texto-destaque {
	color: #ff7f00;
	font-weight: bold;
}

.signatures-lado-direito-second {
	float: left;
	margin-top: 2%;
	margin-left: 0.5%;
}

.signatures-inferior {
	height: 23%;
	float: left;
	width: 100%;
	margin-top: 30px;
}

.signatures-inferior#header {
	height: 23%;
	float: left;
	width: 100%;
	margin-top: 10px;
}

.select-signatures {
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 25px;
	width: 5.3%;
	color: #898989;
	-webkit-appearance: none;
	font-size: 20px;
	font-family: Helvetica35-Thin;
	background: url('../companies/img/icones/assinaturas/select-seta.png')
		no-repeat;
	background-position: right 9px;
	-webkit-appearance: none;
	float: left;
	margin-left: 1.5%;
}

.signatures-inferior-botao {
	font-family: Helvetica35-Thin;
	color: #999999;
	font-size: 13.5px;
	background: #eeeeee;
	width: 10%;
	text-align: center;
	height: 25px;
	float: right;
	line-height: 30px;
	margin-right: 1.8%;
}

.signatures-inferior-botao:HOVER {
	color: #ffffff;
	background-color: #7bca84;
}

.linha-cinza {
	width: 96.5%;
	margin-left: 1.5%;
	margin-right: 1.3%;
	border: 1px solid #eeeeee;
}

.signatures-tabela-not-found {
	margin-left: 2.5%;
	padding-top: 4%;
	font-family: Helvetica;
	color: #777777;
	font-size: 11.8px;
}

.grade {
	max-width: 96.7%;
	margin-left: 1.5%;
}

.item-grade {
	float: left;
}

.item-grade-detalhe {
	border: 1px solid #eeeeee;
	width: 170px;
	height: 120px;
	margin-top: -60px;
	height: 120px;
	background: #f8f8f8;
	display: none;
}

.item-grade-info-direita {
	width: 110px;
	height: 56px;
	float: right;
}

.item-grade-info-inferior {
	height: 58px;
	border: 120px;
	margin-top: 59px;
}

.item-grade-botao {
	width: 75px;
	height: 46px;
	margin-top: 5px;
	font-family: Helvetica Neue LT Std;
	color: #ffffff;
	font-size: 10.9px;
	text-align: center;
}

.item-grade-botao#verde {
	float: left;
	background: #86d68f;
	border: 1px solid #b8e2bd;
	margin-left: 5px;
}

.item-grade-botao#laranja {
	float: right;
	background: #fc850e;
	border: 1px solid #f5b77a;
	margin-right: 5px;
}

#texto-botao {
	margin-top: 5px;
}

.item-grade-nome-sobrenome {
	font-family: Helvetica35-Thin;
	font-size: 12px;
	color: #000000;
	margin-left: 7px;
}

.item-grade-sub-text {
	font-size: 8px;
	font-family: Helvetica Neue LT Std;
	color: #545454;
	margin-left: 7px;
}

#item-grade-p {
	margin-top: 5px;
}

.item-grade-text-body {
	margin-top: 4px;
}

/* TELA ------------------------------------ WISHLIST*/
.wish-body {
	background: #ffffff;
	width: 90%;
	height: 87%;
	margin-left: 5%;
	margin-top: 3.6%;
}

.wish-title {
	color: #000000;
	font-family: Helvetica35-Thin;
}

.title-wish {
	font-size: 19px;
	margin-left: 13px;
}

.subtitle-wish {
	font-size: 12px;
	color: #777777;
	margin-top: 5px;
	margin-left: 13px;
}

.wish-body-table {
	width: 97%;
	margin-left: 1.4%;
	height: 82%;
	margin-top: 15px;
}

.table-header {
	width: 100%;
	height: 35px;
}

.header-orange-number {
	float: right;
	text-align: center;
	height: 35px;
	width: 3.6%;
	background: #c16304;
	line-height: 35px;
	font-family: Helvetica35-Thin;
	color: #ffffff;
	font-size: 12px;
}

.header-table-title {
	font-family: Helvetica35-Thin;
	color: #ffffff;
	height: 35px;
	float: left;
	background: #ff870f;
	line-height: 35px;
	width: 96.4%;
	font-size: 14px;
}

.header-title-text {
	margin-left: 10px;
}

th {
	font-family: Helvetica;
	color: #4f5151;
	border: 1px solid #e6e6e6;
	font-size: 10px;
	text-decoration: none;
	background: #FFFAFA;
}

th#cliente {
	width: 13%;
}

th#dataSolicitacao {
	width: 13%;
}

th#dataLimite {
	width: 13%;
}

th#voceTem {
	width: 13%;
}

.table-wish {
	border-collapse: collapse;
	width: 100.1%;
}

.td-wish {
	border: 1px solid #e6e6e6;
	font-family: Helvetica;
	padding: 10px;
}

td#data {
	text-align: center;
	font-size: 11px;
	text-align: center;
}

span#clienteNome {
	font-size: 12px;
	font-weight: bold;
}

span#clienteLocal {
	font-size: 11px;
}

span#produto {
	font-size: 12px;
	font-weight: bold;
}

span#descPedido {
	font-size: 11px;
}

/* TELA ------------------------------------ VENDAS*/
#vendas-vazio {
	display: block;
}

#vendas-tabela-registros {
	display: none;
}

.vendas-body {
	width: 90%;
	height: 87%;
	margin-left: 5%;
	margin-top: 3.6%;
	background: #ffffff;
}

.vendas-title {
	color: #000000;
	font-family: Helvetica35-Thin;
}

.title-vendas {
	font-size: 19px;
	margin-left: 13px;
}

.subtitle-vendas {
	font-size: 12px;
	color: #777777;
	margin-top: 5px;
	margin-left: 13px;
}

.vendas-lado-esquerdo {
	width: 50%;
	height: 50%;
	float: left;
}

.vendas-imagem {
	float: right;
	margin-top: 5%;
	margin-right: 10%;
}

.vendas-lado-direito {
	width: 45%;
	height: 50%;
	float: left;
}

.vendas-lado-direito-titulo {
	font-family: Helvetica;
	font-size: 18px;
	color: #414042;
	margin-top: 15%;
}

.vendas-lado-direito-texto {
	font-family: Helvetica;
	font-size: 13px;
	color: #414042;
}

.vendas-inferior {
	height: 32.5%;
	float: left;
	width: 100%;
	margin-top: 45px;
}

.vendas-inferior-botoes {
	font-family: Helvetica35-Thin;
	color: #999999;
	font-size: 13.5px;
}

.vendas-inferior-botao {
	background: #eeeeee;
	width: 10%;
	text-align: center;
	height: 25px;
	float: left;
	line-height: 30px;
	margin-left: 1.5%;
}

.vendas-inferior-botao:HOVER {
	background: #7bca84;
	color: #ffffff;
}

.vendas-inferior hr {
	width: 96.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: 1px solid #eeeeee;
}

.vendas-inferior-titulo-qtd {
	width: 4.5%;
	height: 35px;
	color: #ffffff;
	background-color: #c16304;
	text-align: center;
	line-height: 35px;
	float: left;
	font-size: 12px;
	font-family: Helvetica35-Thin;
}

.vendas-inferior-titulo-tabela {
	height: 35px;
	color: #ffffff;
	line-height: 35px;
	background: #ff870f;
	font-family: Helvetica35-Thin;
	padding-left: 10px;
	margin-left: 1.5%;
	font-size: 14px;
	width: 91.3%;
	float: left;
	width: 91.3%;
}

.vendas-tabela-not-found {
	margin-left: 2.5%;
	padding-top: 4%;
}

.vendas-inferior-botoes hr {
	width: 96.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: 1px solid #eeeeee;
}

.th-vendas {
	font-family: Helvetica;
	color: #4f5151;
	font-size: 10px;
	border: 1px solid #e6e6e6;
	text-decoration: none;
	background: #eeeeee;
	padding: 10px;
	text-align: left;
	padding-left: 15px;
}

th#data {
	width: 10%;
}

th#status {
	width: 15%;
}

th#produto {
	width: 22%;
}

th#comprador {
	width: 13%;
}

th#valor {
	width: 10%;
}

th#comentario {
	width: 30%;
}

.table-vendas {
	margin-left: 1.5%;
	border-collapse: collapse;
	width: 96.7%;
}

.td-vendas {
	font-family: Helvetica;
	color: #898989;
	font-size: 11px;
	padding-left: 15px;
	border: 1px solid #e6e6e6;
	padding: 10px;
}

td#produto {
	font-size: 12px;
	font-weight: bold;
}

/* TELA ------------------------------------ OFFERS*/
#offers-vazio {
	display: block;
}

#offers-registros {
	display: none;
}

.offers-body {
	width: 90%;
	height: 87%;
	margin-left: 5%;
	margin-top: 3.6%;
	background: #ffffff;
}

.offers-title {
	color: #000000;
	font-family: Helvetica35-Thin;
}

.title-offers {
	font-size: 19px;
	margin-left: 13px;
}

.subtitle-offers {
	font-size: 12px;
	color: #777777;
	margin-top: 5px;
	margin-left: 13px;
	float: left;
}

.offers-button-plus {
	float: right;
	width: 23%;
	margin-right: 13px;
	height: 33px;
	margin-top: -20px;
	font-family: Helvetica35-Thin;
	color: #4f5151;
	background: #fafafa;
}

div#title-offers {
	float: left;
	width: 75%;
	height: 100%;
	line-height: 250%;
	font-size: 14px;
	margin-left: 8px;
}

div#plus-offers {
	float: right;
	background: #ff7f00;
	color: #ffffff;
	height: 100%;
	width: 17%;
	text-align: center;
	line-height: 82%;
	font-size: 40px;
}

.offers-lado-esquerdo {
	width: 50%;
	height: 50%;
	float: left;
}

.offers-image {
	float: right;
	margin-top: 5%;
	margin-right: 10%;
}

.offers-lado-direito {
	width: 30%;
	height: 50%;
	float: left;
	font-family: Helvetica;
	font-size: 13px;
	color: #414042;
	margin-top: 6%;
	line-height: 17px;
}

.offers-lado-direito-texto-destaque {
	color: #ff7f00;
	font-weight: bold;
}

.offers-lado-direito-second {
	float: left;
	margin-top: 2%;
	margin-left: -1.5%;
}

.offers-inferior {
	height: 32.5%;
	float: left;
	width: 100%;
	margin-top: 45px;
}

.offers-inferior-botoes {
	font-family: Helvetica35-Thin;
	color: #999999;
	font-size: 13.5px;
}

.offers-inferior-botao {
	background: #eeeeee;
	width: 10%;
	text-align: center;
	height: 25px;
	float: left;
	line-height: 30px;
	margin-left: 1.5%;
}

div#filtros {
	float: right;
	margin-right: 1.8%;
	width: 15%;
}

hr {
	width: 96.5%;
	margin-left: 1.5%;
	margin-right: 1.5%;
	border: 1px solid #eeeeee;
}

.offers-inferior-titulo-qtd {
	width: 4.5%;
	height: 35px;
	color: #ffffff;
	background-color: #c16304;
	text-align: center;
	line-height: 35px;
	float: left;
	font-size: 12px;
	font-family: Helvetica35-Thin;
}

.offers-inferior-titulo-tabela {
	height: 35px;
	color: #ffffff;
	line-height: 35px;
	background: #ff870f;
	font-family: Helvetica35-Thin;
	padding-left: 10px;
	margin-left: 1.5%;
	font-size: 14px;
	width: 91.3%;
	float: left;
	width: 91.3%;
}

.offers-tabela-not-found {
	margin-left: 2.5%;
	padding-top: 4%;
}

.table-offers {
	margin-left: 1.5%;
	border-collapse: collapse;
	width: 96.7%;
}

.th-offers {
	font-family: Helvetica;
	color: #4f5151;
	font-size: 10px;
	border: 1px solid #e6e6e6;
	text-decoration: none;
	background: #eeeeee;
	padding: 10px;
	text-align: left;
	padding-left: 15px;
}

th#titulo {
	width: 42.6%;
}

th#valor {
	width: 12%;
}

th#inicio {
	width: 12%;
}

th#final {
	width: 12%;
}

th#status {
	width: 12%;
}

th#editar {
	width: 9%;
}

.td-offers {
	font-family: Helvetica;
	color: #898989;
	font-size: 11px;
	padding-left: 15px;
	border: 1px solid #e6e6e6;
	padding: 10px;
}

td#titulo {
	font-weight: bold;
}

td#editar {
	text-align: center;
}

/* TELA ------------------------------------ DASHBOARD*/
span.span-esquerdo {
	color: #ffffff;
	font-family: Helvetica35-Thin;
	font-size: 28px;
	margin-left: 5px;
}

span.span-titulo {
	color: #ffffff;
	font-family: Helvetica35-Thin;
	font-size: 14px;
	margin-left: 8px;
}

span.span-qtd {
	color: #ffffff;
	font-family: Helvetica35-Thin;
	font-size: 14px;
	margin-left: 10px;
}

div.plus-dash {
	width: 8%;
	float: left;
	height: 40px;
	background: #c16304;
	line-height: 40px;
}

div.plus-black {
	width: 8.9%;
	float: left;
	height: 40px;
	background: #363636;
	line-height: 40px;
}

div.qtd {
	width: 12%;
	float: left;
	height: 40px;
	background: #c16304;
	line-height: 40px;
}

div.qtd-black {
	width: 13.4%;
	float: left;
	height: 40px;
	background: #363636;
	line-height: 40px;
}

div.compras-final-titulo {
	width: 79.6%;
	height: 40px;
	background: #f9820c;
	float: left;
	line-height: 40px;
}

div.compras-pendentes-titulo {
	width: 79.7%;
	height: 40px;
	background: #fa9a3a;
	float: left;
	line-height: 40px;
}

div.ultimas-assin-titulo {
	width: 77.7%;
	height: 40px;
	background: #444444;
	float: left;
	line-height: 40px;
}

div.ofertas-cadastradas-titulo {
	width: 88%;
	height: 40px;
	background: #fa9a3a;
	float: left;
	line-height: 40px;
}

div.quadro-compras-realizadas {
	margin-left: 2%;
	margin-top: 35px;
	width: 29.5%;
}

div.quadro-compras-pendentes {
	margin-left: 28px;
	margin-top: 20px;
	width: 29.5%;
	float: left;
}

div.quadro-ultimas-assinaturas {
	float: left;
	margin-top: -240px;
	margin-left: 28px;
	width: 29.5%;
}

div.quadro-ofertas-cadastradas {
	float: left;
	margin-left: 28px;
	margin-top: 20px;
	width: 29.5%;
}

div.div-nova-oferta-titulo {
	width: 86%;
	height: 40px;
	background: #ffffff;
	float: left;
	line-height: 40px;
}

span.span-nova-oferta-titulo {
	color: #ff7f00;
	font-family: Helvetica35-Thin;
	font-size: 14px;
	margin-left: 8px;
}

div.div-nova-oferta-titulo-plus {
	width: 14%;
	height: 40px;
	background: #ff7f00;
	float: left;
	line-height: 40px;
}

span.span-nova-oferta-titulo-plus {
	color: #ffffff;
	font-family: Helvetica35-Thin;
	font-size: 40px;
	margin-left: 8px;
}

div.botao-criar-nova-oferta {
	float: left;
	width: 22.5%;
	margin-left: 30px;
	margin-top: -239px;
}

div.div-fazer-convite-titulo {
	width: 86%;
	height: 40px;
	background: #ffffff;
	float: left;
	line-height: 40px;
	background: #ffffff;
	float: left;
}

span.span-fazer-convite-titulo {
	color: #ff7f00;
	font-family: Helvetica35-Thin;
	font-size: 14px;
	margin-left: 8px;
}

div.div-fazer-convite-titulo-plus {
	width: 14%;
	height: 40px;
	background: #ff7f00;
	float: left;
	line-height: 40px;
}

span.span-fazer-convite-titulo-plus {
	color: #ffffff;
	font-family: Helvetica35-Thin;
	font-size: 40px;
	margin-left: 25%;
}

div.botao-fazer-convite {
	float: left;
	margin-top: -190px;
	margin-left: 30px;
	width: 22.5%;
}

div.quadro-central-ajuda {
	float: left;
	margin-top: -140px;
	margin-left: 30px;
}

div.quadro-central-ajuda-titulo {
	width: 290px;
	height: 50px;
	background: #c4c403;
	float: left;
	line-height: 50px;
	float: left;
}

span.span-central-ajuda-titulo {
	color: #ffffff;
	font-family: Helvetica35-Thin;
	font-size: 14px;
	margin-top: -30px;
	margin-left: 8px;
}

div.quadro-central-ajuda-campo-texto {
	height: 140px;
	width: 290px;
	background: #ffffff;
	line-height: 40px;
}

#titulo {
	font-family: Helvetica-Normal;
	font-size: 16px;
	margin-left: 10px;
}

#ajuda-texto {
	color: #676d76;
	font-family: Helvetica-Normal;
	font-size: 10px;
	line-height: 12px;
	margin-top: -10px;
	margin-left: 10px;
}

.botao-consultar {
	margin-left: 10px;
	margin-top: 5px;
	background: #e09a4a;
	width: 70px;
	height: 20px;
	line-height: 22px;
	text-align: center;
}

.span-botao-consultar {
	font-family: Helvetica-Normal;
	font-size: 9px;
	color: #ffffff;
}

.quadro-facebook {
	float: left;
	margin-left: 250px;
	margin-top: -10px;
}

.botao-instalar {
	margin-left: 10px;
	background: #e09a4a;
	width: 70px;
	height: 20px;
	line-height: 22px;
	text-align: center;
	font-family: Helvetica-Normal;
	font-size: 9px;
	color: #ffffff;
	margin-top: -30px;
	float: left;
}

.quadro-facebook-titulo {
	margin-top: 30px;
	margin-left: -220px;
	width: 290px;
	height: 29px;
	background-image:
		url('../companies/img/icones/dashboard/caixa-facebook-cabecalho-biggest.png');
	text-align: center;
	font-family: Helvetica35-Thin;
	color: #ffffff;
	font-size: 14px;
	background-image:
		url('../companies/img/icones/dashboard/caixa-facebook-cabecalho-biggest.png');
	text-align: center;
	font-family: Helvetica35-Thin;
	color: #ffffff;
	font-size: 14px;
	line-height: 30px;
}

.quadro-facebook-quadro-branco {
	margin-left: -220px;
	width: 290px;
	height: 100px;
	background: #ffffff;
	line-height: 40px;
}

.span-quadro-facebook-titulo-msg {
	color: #39528d;
	font-family: Helvetica-Normal;
	font-size: 12px;
	margin-left: 10px;
}

.quadro-facebook-corpo-msg {
	width: 200px;
	font-size: 10px;
	line-height: 10px;
	font-family: Arial;
	margin-top: -10px;
	color: #686e76;
	margin-left: 10px;
	color: #686e76;
}

/* TELA --------------------------------------- CONFIGURACAO*/
.body-config {
	background: #ffffff;
	width: 90%;
	height: 87%;
	margin-left: 5%;
	margin-top: 3.6%;
}

.config-lado-esquerdo {
	height: 100%;
	width: 8%;
	float: left;
}

.header-configs {
	width: 88%;
	float: left;
	padding: 1.5%;
	padding-bottom: 0;
	height: 10%;
}

.div-title-configs {
	background: #eeeeee;
	width: 101%;
	height: 90%;
	font-family: Helvetica35-Thin;
	font-size: 20px;
	font-family: Helvetica35-Thin;
}

.title-configs {
	line-height: 240%;
	margin-left: 15px;
}

.helpTitle-configs {
	float: right;
	line-height: 240%;
	margin-right: 15px;
	color: #5f6161;
	width: 17%;
	text-align: right;
	background-image: url('../img/icones/wishlist/icon-interrogacao.png');
	background-repeat: no-repeat;
	background-position: 0px 45%;
	background-repeat: no-repeat;
}

.botao-dados-cadastrais-configs {
	border: 2px solid #f7e2a7;
	width: 75%;
	height: 12%;
	margin-top: 18%;
	float: right;
	color: #929292;
	padding-top: 10px;
	font-size: 14px;
	font-family: Helvetica35-Thin;
	text-align: center;
	background-image:
		url("../img/icones/wishlist/botao-dados-cadastrais.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}

.botao-dados-cadastrais-configs:HOVER {
	border: 2px solid #f7e2a7;
	width: 75%;
	height: 12%;
	margin-top: 18%;
	float: right;
	color: #ffffff;
	padding-top: 10px;
	font-size: 14px;
	font-family: Helvetica35-Thin;
	text-align: center;
	background-image:
		url("../img/icones/wishlist/botao-dados-cadastrais.png");
	background-repeat: no-repeat;
	background-position: center -85px;
	background-color: #edc145;
}

.botao-frete-configs {
	border: 2px solid #f7e2a7;
	width: 75%;
	height: 12%;
	padding-top: 10px;
	float: right;
	color: #929292;
	font-size: 14px;
	font-family: Helvetica35-Thin;
	text-align: center;
	margin-top: 8%;
	background-image: url("../img/icones/wishlist/botao-frete.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}

.botao-frete-configs:HOVER {
	border: 2px solid #f7e2a7;
	width: 75%;
	height: 12%;
	padding-top: 10px;
	float: right;
	color: #ffffff;
	font-size: 14px;
	font-family: Helvetica35-Thin;
	text-align: center;
	margin-top: 8%;
	background-image: url("../img/icones/wishlist/botao-frete.png");
	background-repeat: no-repeat;
	background-position: center -85px;
	background-color: #edc145;
}

.botao-alterar-senha-configs {
	border: 2px solid #f7e2a7;
	width: 75%;
	height: 12%;
	padding-top: 10px;
	float: right;
	color: #929292;
	font-size: 14px;
	font-family: Helvetica35-Thin;
	text-align: center;
	margin-top: 8%;
	background-image: url("../img/icones/wishlist/botao-alterar-senha.png");
	background-repeat: no-repeat;
	background-position: center 40px;
}

.botao-alterar-senha-configs:HOVER {
	border: 2px solid #f7e2a7;
	width: 75%;
	height: 12%;
	padding-top: 10px;
	float: right;
	color: #ffffff;
	font-size: 14px;
	font-family: Helvetica35-Thin;
	text-align: center;
	margin-top: 8%;
	background-image: url("../img/icones/wishlist/botao-alterar-senha.png");
	background-repeat: no-repeat;
	background-position: center -85px;
	background-color: #edc145;
}

.botao-home-configs {
	border: 2px solid #f7e2a7;
	width: 75%;
	height: 12%;
	float: right;
	color: #929292;
	padding-top: 10px;
	font-size: 14px;
	font-family: Helvetica35-Thin;
	text-align: center;
	margin-top: 8%;
}

.helpTitleimage {
	margin-right: 5px;
	margin-top: 10px;
	float: right;
	border: 1px solid;
}

/* TELA ---------------------------- CADASTRAR OFERTA*/
div.fundo-cad-ofer {
	background: #ffffff;
	width: 90%;
	height: 530px;
	position: absolute;
	margin-left: 5%;
	margin-top: 3.6%;
}

div.lado-esquerdo-cad-ofer {
	height: 530px;
	width: 85px;
	bottom: 0;
	position: absolute;
	float: left;
	position: absolute;
}

div.botao-lateral-esquerdo-ver-ofertas {
	border: 1px solid;
	height: 70px;
	width: 70px;
	float: right;
	margin-top: 10px;
	border-color: #999999;
	font-family: Helvetica35-Thin;
	color: #999999;
	font-size: 14px;
	text-align: center;
	background-image:
		url("../img/icones/cadastro-oferta/icon-botao-lupa.png");
	background-repeat: no-repeat;
	background-position: center 45px;
}

div.botao-lateral-esquerdo-cad-ofertas {
	border: 1px solid;
	height: 70px;
	width: 70px;
	float: right;
	margin-top: 10px;
	border-color: #999999;
	font-family: Helvetica35-Thin;
	color: #999999;
	font-size: 14px;
	text-align: center;
	background-image:
		url("../img/icones/cadastro-oferta/icon-botao-oferta.png");
	background-repeat: no-repeat;
	background-position: center 45px;
}

div.botao-lateral-esquerdo-meu-publico {
	border: 1px solid;
	height: 70px;
	width: 70px;
	float: right;
	margin-top: 10px;
	border-color: #999999;
	font-family: Helvetica35-Thin;
	color: #999999;
	font-size: 14px;
	text-align: center;
	background-image:
		url("../img/icones/cadastro-oferta/icon-botao-publico.png");
	background-repeat: no-repeat;
	background-position: center 43px;
}

div.botoes-esquerdo-inferior-cad-ofer {
	bottom: 0;
	position: absolute;
	margin-left: 15px;
}

div.botoes-laranja-cad-ofer {
	width: 70px;
	height: 30px;
	color: #ffffff;
	font-family: Helvetica35-Thin;
	line-height: 30px;
	text-align: center;
	background: #e09a4a;
	line-height: 30px;
	margin-bottom: 10px;
	font-size: 13px;
}

div.meio-cad-ofer {
	width: 91.5%; height : 510px;
	margin-top: 10px;
	margin-right: 10px;
	margin-top: 10px;
	height: 510px; margin-top : 10px; margin-right : 10px; margin-top :
	10px;
	margin-left: 8.5%;
}

#cad-ofer-ver {
	margin-left: -0px;
}

div.ver-ofertas-botao {
	float: left;
	font-family: Helvetica35-Thin;
	height: 25px;
	line-height: 28px;
	margin-right: 25px;
	width: 13%;
	text-align: center;
	color: #999999;
	background: #eeeeee;
}

div.ver-ofertas-botao-filtro {
	float: left;
	font-family: Helvetica35-Thin;
	height: 25px;
	line-height: 28px;
	text-align: center;
	color: #999999;
	background: #eeeeee;
	width: 172px;
	background-image:
		url('../img/icones/cadastro-oferta/icon-botao-filtro-complete.png');
	background-repeat: no-repeat;
	background-position: 5px 0px;
	margin-right: 0px;
}

div.menu-cabecalho-cad-ofer {
	margin-top: 10px;
	height: 40px;
}

div.ver-ofertas-botao:HOVER {
	color: #ffffff;
	background: #efc247;
}

div.ver-ofertas-botao-filtro:HOVER {
	color: #ffffff;
	background-color: #efc247;
	background-position: 5px -150px;
}

#cont-ver-ofertas {
	display: none;;
}

/* conteudo meu publico */
div.meu-publico-cabecalho-cad-ofer {
	border: 1px solid;
	width: 98.5%;
	height: 70px;
}

div.cabecalho-titulo-cad-ofer {
	width: 60%;
	height: 70px;
	float: left;
	background: #eeeeee;
	font-family: Helvetica35-Thin;
	color: #aaaaaa;
	font-size: 18px;
	line-height: 20px;
}

div.cabecalho-qtd-cad-ofer {
	width: 40%;
	height: 70px;
	float: left;
	background: #dfdfdf;
	font-family: Helvetica35-Thin;
	color: #000000;
	line-height: 75px;
	text-align: center;
	font-size: 26px;
}

div.cabecalho-titulo-texto-cad-ofer {
	margin-top: 15px;
	text-align: center;
}

div.meu-publico-rodape-cad-ofer {
	width: 90.3%;
	height: 70px;
	bottom: 10px;
	position: absolute;
	text-align: right;
}

div.meu-publico-rodape-botao {
	height: 100%;
	float: right;
	width: 7.5%;
	margin-left: 1%;
	background: #bbbbbb;
}

div.meu-publico-rodape-botao:hover {
	background: #edc145;
}

div.cont-botoes-rodape {
	width: 98.5%; height : 355px;
	text-align: center;
	line-height: 315px;
	font-family: Helvetica35-Thin;
	height: 355px;
}

#cont-meu-publico {
	display: none;
}

/* cadastrar ofertas - corpo da linha*/
div.cad-oferta-corpo {
	width: 98.5%;
	height: 100%;
}

div.linha-numero-laranja {
	width: 35px;
	height: 34px;
	text-align: center;
	color: #ffffff;
	background: #f27a02;
	line-height: 35px;
	float: left;
	font-family: Helvetica35-Thin;
	border-bottom: 1px solid #ffffff;
	bottom: 2px;
}

div.linha-impar-nome {
	font-family: Helvetica35-Thin;
	height: 35px;
	line-height: 35px;
	width: 100%;
	background: #eeeeee;
	font-size: 14px;
}

div.linha-par-nome {
	font-family: Helvetica35-Thin;
	height: 35px;
	line-height: 35px;
	width: 100%;
	background: #dddddd;
	font-size: 14px;
}

span.texto-linha {
	margin-left: 10px;
}

div.firstline-body {
	width: 100%;
	height: 196px;
	background: #eeeeee;
	display: none;
}

div.first-line-cabecalho {
	height: 40px;
	width: 100%;
	text-align: center;
}

div.first-line-titulo {
	font-family: Helvetica35-Thin;
	color: #acacac;
	background: #ffffff;
	height: 35px;
	width: 40%;
	float: left;
	text-align: center;
	line-height: 35px;
	margin-top: 30px;
	margin-left: 6%;
	margin-right: 10px;
}

div.first-line-quadro-pai-um {
	margin-left: 18px;
	width: 40%;
	height: 90px;
	margin-top: 10px;
	margin-left: 6%;
	float: left;
}

div.first-line-quadro-pai-dois {
	margin-left: 7%;
	width: 40%;
	height: 90px;
	margin-top: 10px;
	float: left;
}

div.first-line-quadro-esquerdo {
	background: #ffffff;
	width: 48%;
	height: 90px;
	float: left;
	font-family: Helvetica35-Thin;
	color: #acacac;
	text-align: center;
	line-height: 40px;
}

div.first-line-quadro-esquerdo-direcionada {
	background: #ffffff;
	width: 48%;
	height: 90px;
	float: left;
	font-family: Helvetica35-Thin;
	background-image:
		url('../companies/img/icones/cadastro-oferta/botao-direcionada.png');
	background-repeat: no-repeat;
	background-position: 50% 35px;
	color: #acacac;
	text-align: center;
	line-height: 40px;
}

div.first-line-quadro-esquerdo-produto {
	background: #ffffff;
	width: 48%;
	height: 90px;
	float: left;
	font-family: Helvetica35-Thin;
	background-image:
		url('../companies/img/icones/cadastro-oferta/botao-produto.png');
	background-repeat: no-repeat;
	background-position: 50% 35px;
	color: #acacac;
	text-align: center;
	line-height: 40px;
}

div.first-line-quadro-direito {
	background: #ffffff;
	width: 48%;
	height: 90px;
	float: right;
	font-family: Helvetica35-Thin;
	color: #acacac;
	line-height: 40px;
	text-align: center;
}

div.first-line-quadro-direito-publica {
	background: #ffffff;
	width: 48%;
	height: 90px;
	float: right;
	font-family: Helvetica35-Thin;
	background-image:
		url('../companies/img/icones/cadastro-oferta/botao-publica.png');
	background-repeat: no-repeat;
	background-position: 50% 35px;
	color: #acacac;
	line-height: 40px;
	text-align: center;
}

div.first-line-quadro-direito-servico {
	background: #ffffff;
	width: 48%;
	height: 90px;
	float: right;
	font-family: Helvetica35-Thin;
	background-image:
		url('../companies/img/icones/cadastro-oferta/botao-servico.png');
	background-repeat: no-repeat;
	background-position: 50% 35px;
	color: #acacac;
	line-height: 40px;
	text-align: center;
}

#firstline-body {
	
}

#cont-cad-oferta {
	
}

div.secondline-body {
	width: 100%;
	background: #dddddd;
	display: none;
}

.secondline-body input {
	margin-top: 10px;
	height: 30px;
	margin-left: 3.5%;
	border: 0;
	border-left: 3px solid red;
	width: 91%;
	font-family: Helvetica35-Thin;
	color: #666666;
	padding-left: 10px;
	font-size: 13px;
}

.secondline-body textarea {
	width: 58%;
	margin-left: 3.5%;
	margin-top: 10px;
	border: 0;
	border-left: 3px solid red;
	height: 122px;
	margin-bottom: 10px;
	font-family: Helvetica35-Thin;
	color: #666666;
	padding-left: 10px;
	font-size: 13px;
	padding-top: 10px;
	max-height: 123px;
	max-width: 91%;
}

#offerTitulo {
	width: 58%;
}

div.thirdline-body {
	width: 99.4%;
	background: #eeeeee;
	height: 190px;
	border: 3px solid #eeeeee;
	display: none;
}

div.thirdline-diviser-left {
	margin-left: 35px;
	width: 62%;
	height: 100%;
	border-right: 3px solid #a3a3a3;
	float: left;
}

div.thirdline-diviser-left-line1 {
	margin-top: 10px;
}

div.thirdline-diviser-left input {
	margin-top: 10px;
	height: 35px;
	border: 0;
	border-left: 3px solid red;
	width: 28%;
	font-family: Helvetica35-Thin;
	color: #666666;
	padding-left: 10px;
	font-size: 12px;
	border-left: 3px solid red;
}

div.thirdline-diviser-left input#test {
	margin-top: 10px;
	height: 35px;
	border: 0;
	margin-left: 20px;
	border-left: 3px solid red;
	width: 25%;
	font-family: Helvetica35-Thin;
	color: #666666;
	padding-left: 10px;
	font-size: 12px;
}

#textUP {
	float: right;
	margin-right: 25%;
	margin-top: 10px;
	font-family: Helvetica35-Thin;
	font-size: 30px;
}

#textDOWN {
	font-family: Helvetica35-Thin;
	font-size: 12px;
	text-align: right;
}

input#prazo {
	margin-right: 10px;
}

input#valor {
	margin-right: 13px;
}

input[type=radio].css-checkbox {
	display: none;
}

input[type=radio].css-checkbox+label.css-label {
	padding-left: 30px;
	height: 25px;
	margin-left: 30px;
	display: inline-block;
	line-height: 30px;
	background-repeat: no-repeat;
	background-position: 0 0;
	font-size: 12px;
	vertical-align: middle;
	font-family: Helvetica35-Thin;
	color: #f27900;
	cursor: pointer;
	display: inline-block;
}

input[type=radio].css-checkbox:checked+label.css-label {
	background-position: 0 -25px;
}

label.css-label {
	background-image:
		url('../img/icones/cadastro-oferta/orange-check-box.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.fourthline-body {
	background: #dddddd;
	width: 100%;
	height: 196px;
	display: none;
}

div.fifthline-body {
	background: #eeeeee;
	width: 100%;
	height: 196px;
	display: none;
}

div.sixthline-body {
	background: #dddddd;
	width: 100%;
	height: 196px;
	display: none;
}

div#selectbox {
	float: left;
	width: 25%;
	height: 30px;
	overflow: hidden;
	background: url('../companies/img/icones/seta-select-two.png') no-repeat
		right #fff;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-left: 35px;
}

select#selectbox {
	background: transparent;
	width: 90%;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 30px;
	-webkit-appearance: none;
	font-family: Helvetica35-Thin;
	color: #666666;
}

input#calendarioInicio {
	background: transparent;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	margin-top: -3px;
	border-radius: 0;
	height: 30px;
	-webkit-appearance: none;
	font-family: Helvetica35-Thin;
	color: #666666;
	border-radius: 0;
}

input#calendarioFinal {
	background: transparent;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	margin-top: -3px;
	height: 30px;
	-webkit-appearance: none;
	font-family: Helvetica35-Thin;
	color: #666666;
	height: 30px;
}

div#selectboxTamanho {
	float: left;
	width: 25%;
	height: 30px;
	overflow: hidden;
	background: url('../companies/img/icones/seta-select-two.png') no-repeat
		right #fff;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-left: 15px;
}

div#selectboxDatafinal {
	float: left;
	width: 25%;
	height: 30px;
	overflow: hidden;
	background: url('../companies/img/icones/seta-select-two.png') no-repeat
		right #fff;
	border: 1px solid #ccc;
	margin-top: 10px;
	margin-left: 15px;
}

select#selectboxTamanho {
	background: transparent;
	width: 90%;
	padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 30px;
	-webkit-appearance: none;
	font-family: Helvetica35-Thin;
	color: #666666;
}

div.seventhline-body {
	background: #eeeeee;
	width: 100%;
	height: 196px;
	display: none;
}

div.eighthline-body {
	background: #dddddd;
	width: 100%;
	height: 196px;
	display: none;
}

#eighthline-lado-esquerdo {
	width: 55px;
	height: 190px;
	display: inline;
	vertical-align: middle;
	margin-left: 45px;
	float: left;
	display: inline;
}

#box1 {
	padding-top: 15px;
	text-align: center;
	margin-left: 20px;
	margin-top: 25px;
	width: 78%;
	height: 135px;
	float: left;
	background: #e8304a;
}

.eighthline-botao-1 {
	margin-top: 40px;
	width: 55px; height : 50px;
	background-image:
		url('../companies/img/icones/cadastro-oferta/upload-image-1-small.png');
	background-repeat: no-repeat;
	height: 50px;
}

.eighthline-botao-2 {
	margin-top: 15px;
	width: 55px;
	height: 50px;
	background-image:
		url('../companies/img/icones/cadastro-oferta/upload-image-2-small.png');
	background-repeat: no-repeat;
	background-position: 0 -60px;
}

.eighthline-box1#title {
	font-family: Helvetica35-Thin;
	color: #ffffff;
	font-size: 15px;
}

.eighthline-box1#uperBack {
	margin-top: 20px;
	margin-left: 30%;
	border: 1px solid #DCDCDC;
	height: 25px;
	width: 40%;
	background: #ffffff;
}

.eighthline-box1#imageBack {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

.eighthline-box1#uper {
	margin-top: 6px;
	width: 90%;
}

.eighthline-box1#divDown {
	margin-top: 15px;
	margin-left: 33%;
	width: 35%;
	height: 80%;
}

.eighthline-box1#textBody {
	font-family: Tahoma;
	color: #ffffff;
	font-size: 10px;
}

#box2 {
	padding-top: 15px;
	margin-left: 20px;
	margin-top: 25px;
	width: 78%;
	text-align: center; height : 135px;
	float: left;
	background: #e8304a;
	display: none;
	height: 135px;
}

.eighthline-box2#title {
	font-family: Helvetica35-Thin;
	color: #ffffff;
	font-size: 15px;
}

.eighthline-box2#divLeft {
	height: 80%;
	float: left;
	margin-top: -5px;
	width: 49.5%;
}

.eighthline-box2#divRight {
	height: 80%;
	float: right;
	margin-top: -5px;
	width: 49.5%;
}

#textBody2 {
	padding-top: 5px;
	width: 80%;
	float: right;
	margin-right: 5px;
}

.eighthline-box2#uperBack1 {
	border: 1px solid #DCDCDC;
	height: 25px;
	margin-left: 18%;
	width: 80%;
	background: #ffffff;
}

.eighthline-box2#imageBack1 {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

.eighthline-box2#uper1 {
	margin-top: 6px;
	width: 90%;
}

.eighthline-box2#uperBack2 {
	border: 1px solid #DCDCDC;
	height: 25px;
	margin-left: 18%;
	margin-top: 8px;
	width: 80%;
	background: #ffffff;
}

.eighthline-box2#imageBack2 {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

.eighthline-box2#uper2 {
	margin-top: 6px;
	width: 90%;
}

.eighthline-box2#textBody {
	font-family: Tahoma;
	color: #ffffff;
	font-size: 10px;
}

.eighthline-box2#uperBack3 {
	border: 1px solid #DCDCDC;
	height: 25px;
	width: 80%;
	background: #ffffff;
}

.eighthline-box2#imageBack3 {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

.eighthline-box2#uper3 {
	margin-top: 6px;
	width: 90%;
}

.eighthline-box2#uperBack4 {
	border: 1px solid #DCDCDC;
	height: 25px;
	width: 80%;
	margin-top: 10px;
	background: #ffffff;
}

.eighthline-box2#imageBack4 {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

.eighthline-box2#uper4 {
	margin-top: 6px;
	width: 90%;
}

.eighthline-box2#uperBack5 {
	border: 1px solid #DCDCDC;
	height: 25px;
	width: 80%;
	background: #ffffff;
	margin-top: 10px;
}

.eighthline-box2#imageBack5 {
	float: left;
	margin-top: 6px;
	margin-left: 5px;
	margin-right: 5px;
}

.eighthline-box2#uper5 {
	margin-top: 6px;
	width: 90%;
}

-->
div.ninthline-body {
	font-family: Helvetica35-Thin;
	margin-top: 15px;
	display: none;
}

span.ninthline-body-title {
	font-size: 13px;
}

span.ninthline-body-title#pubTotal {
	font-size: 13px;
	float: right;
	margin-right: 90px;
}

span.ninthline-body-title#offersUser {
	font-size: 13px;
	float: right;
	margin-right: 35px;
}

#ninth-menuver {
	width: 100px;
	padding: 0;
	margin: 0;
	font: 14px Helvetica35-Thin;
	color: #666666;
	margin-top: 25px;
}

.ninth-menuver {
	width: 100px;
	padding: 0;
	margin: 0;
	font: 14px Helvetica35-Thin;
}

#ninth-menuver li {
	list-style: none;
	margin: 1.1em 0 0.5em 1.5em;
}

#ninth-menuver li:HOVER {
	list-style: none;
	margin: 1.1em 0 0.5em 1.5em;
	color: #f27a02;
}

#staticsBody {
	width: 465px;
	height: 145px;
	float: left;
	margin-top: 15px;
}

#ninthline-right-menu {
	width: 130px;
	height: 167px;
	padding-top: 5px;
	float: left;
}

#staticsBody {
	font-family: Helvetica35-Thin;
	color: #666666;
	font-size: 14px;
}

#staticsGenero {
	margin-left: 20px;
}

.staticsBox-cad-ofer {
	text-align: center;
	background: #eeeeee;
	padding-top: 10px;
	width: 100px;
	height: 60px;
	margin-right: 13px;
	float: left;
}

#porcentagem-cad-ofer {
	margin-top: 8px;
}

#staticsLocalidade {
	margin-left: 20px;
	display: none;
}

#staticsFaixaEtaria {
	margin-left: 20px;
	display: none;
}

#staticsPolitica {
	margin-left: 20px;
	display: none;
}

#staticsRelacionamento {
	margin-left: 20px;
	display: none;
}

#staticsReligiao {
	margin-left: 20px;
	display: none;
}

#cont-cad-oferta {
	display: block;
}

.linkpopup{color:red;}
.bg_popup{
	width:100%;
	height:100% !important;
	position: fixed;
	top:0px !important;
	float: left;
	left: 0px;
	background-image: url('../../users/img/background/background-popup.png');
	z-index:9999999999;
	display: none;
	box-shadow: inset 0px 0px 10px #333;
}
.popup{
	width: 700px;
	height: auto;
	display: block;
	position: absolute;
	background-color: #efefef;
	box-shadow: 0px 0px 10px #999;
}