#tabMenu {margin:0;list-style:none;}
#tabMenu li {float:left;height:95px;cursor:pointer;cursor:hand;}

ul#tabMenu { padding:0px; }

li.ofertas     {background:url(../../../img/buttons/tab_r1_c1.png) no-repeat; width:160px;}
li.dashboard   {background:url(../../../img/buttons/tab_r1_c2.png) no-repeat; width:150px;}
li.assinaturas {background:url(../../../img/buttons/tab_r1_c3.png) no-repeat; width:150px;}
li.compras     {background:url(../../../img/buttons/tab_r1_c4.png) no-repeat; width:150px;}
li.convites    {background:url(../../../img/buttons/tab_r1_c5.png) no-repeat; width:150px;}
li.sair        {background:url(../../../img/buttons/tab_r1_c6.png) no-repeat; width:118px;}

li.mouseover { opacity:0.90; -moz-opacity: 0.90; filter: alpha(opacity=90); }
li.selected  { opacity:0.80; -moz-opacity: 0.80; filter: alpha(opacity=80); }

.box {width:880px}
.boxTop {height:11px;clear:both}
.boxBody { overflow:hidden; padding:0px !important;}
.boxBottom {height:11px;}

.boxBody div.parent {display:none;}
.boxBody div.show {display:none;}

.boxBody div ul {}
.boxBody div li {list-style:none;}
.boxBody div ul li.last {border-bottom:none}
.boxBody div li span {font-size:8px;font-style:italic; color:#888;}