input:focus, select:focus, textarea:focus{
	outline:none !important;
	box-shadow:0px 0px 10px #ccc;	
	color:#333;
	background: none !important;
}

.alinhamento{
	width: 1000px;
	height: auto;display: table;
	margin: 10px auto;
	position: relative;
	margin-top: 50px;
}
.area-login{
	background-image: url('../../companies/img/background/background-login.png');
	background-repeat: no-repeat;
	background-position: top;
	width:517px;
	height:401px;
	margin:20px auto;
	text-align: center;
	padding-top:60px;
	display: block;
}
.area-login .login-facebook{
	background-image: url('../../companies/img/botoes/login-facebook.png');
	background-repeat: no-repeat;
	background-position: center;	
	width: 184px;
	height: 33px;
	display: block;
	text-indent: -9000px;
	position: absolute;
	margin-top:-50px;
	margin-left:310px;
}
.area-login .text{
	width:366px;
	height: 60px;
	display: table;
	border:none;
	background-color:transparent;
	background-image: url('../../companies/img/background/background-login-txt.png');
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	position: relative;
	margin:20px auto 0px auto;
	
}
.area-login .text input{
	width:90%;
	margin:10px auto 5px auto;
	padding:15px 5px;
	float: none;
	color:#666;
	text-transform: uppercase;
	border:none;
	background: transparent;
	box-shadow: 0px 0px 0px !important;
	text-shadow:0px 1px 1px #fbfbfb;
}
.area-login .text img{
	float: right;
	position: absolute;
	margin-top:9px;
	margin-left: 4px;
	
}
.area-login .linha-login{

	margin:20px auto;
}
.area-login .botao-entrar{
	width:82px;
	height:41px;
	background:transparent;
	background-image: url('../../companies/img/botoes/entrar-login.png');
	background-repeat: no-repeat;
	background-position: center;
	border:none;
	text-indent: -9000px;
	float: right;
	position: relative;
	right:80px;
}

.area-login .botao-nova-senha{
	width:199px;
	height:41px;
	background:transparent;
	background-image: url('../../img/botoes/bt_enviar-nova-senha.png');
	background-repeat: no-repeat;
	background-position: center;
	border:none;
	text-indent: -9000px;
	float: right;
	position: relative;
	left:-80px;	
	margin-top:10px;
}

.area-login .botao-voltar{
	width:115px;
	height:41px;
	background:transparent;
	background-image: url('../../img/botoes/bt_voltar.png');
	background-repeat: no-repeat;
	background-position: center;
	border:none;
	text-indent: -9000px;
	float: left;
	position: relative;
	left:80px;	
	margin-top:10px;
}

.area-login a{
	color:#fff;
	text-decoration: none;
	letter-spacing: -1px;
}
.area-login .esqueci-minha-senha{
	position: relative;
	font-size:12px;
	/*font-style: italic; */
	margin-top:-56px;
	float: right;
	color:#ffcc92;
}
.area-login .cadastrar-novo-usuario{
	position: relative;
	left:80px;
	width:200px;
	height:41px;
	text-align:center;
	line-height:40px;
	float: left;
	margin-top: 0px;
	border-radius:6px;
	display: block;
	background-color:#7D4000;
	font-size: 12px;
	letter-spacing: 0px;
	text-transform: uppercase;
	box-shadow:inset 0px -1px 1px #783C00;

}

.area-login .nao-logar-agora{
	position: absolute;
	margin-top:-50px;
	margin-left:460px;
	width: 38px;
	height: 38px;
	display: block;
	background-image: url('../../companies/img/icones/fechar-login.png');
	background-repeat: no-repeat;
	background-position: left center;
	text-indent: -9000px;
}
.logo-login{
	margin:0px auto;
	display: table;
	position: relative;
	top:25px;
	left:-70px;
}