.topo_xcode {
	width: 100%;
	height: 30px;
	z-index: 99999999;
	position: relative;
	position: fixed;
	background: rgb(76, 76, 76); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 0%,
		rgba(19, 19, 19, 1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(76,
		76, 76, 1)), color-stop(0%, rgba(102, 102, 102, 1)),
		color-stop(0%, rgba(102, 102, 102, 1)),
		color-stop(100%, rgba(19, 19, 19, 1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 0%,
		rgba(19, 19, 19, 1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 0%,
		rgba(19, 19, 19, 1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(76, 76, 76, 1) 0%,
		rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 0%,
		rgba(19, 19, 19, 1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(76, 76, 76, 1) 0%,
		rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 0%,
		rgba(19, 19, 19, 1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(                   startColorstr='#4c4c4c',
		endColorstr='#131313', GradientType=0); /* IE6-9 */
}

.topo-topo {
	width: 100%;
	height: 50px;
	background-color: #000;
	z-index: 99999999;
	position: relative;
	position: fixed;
}


.logo2 {
	position: relative;
	top:0px;
	left: 28px;
}

.logo {
	position: relative;
	top:0px;
	left: 28px;
}

body {
	/*-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);	*/
	display: table;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	background-image:
		url("../../companies/img/icones/dashboard/buildings-2-image.jpg");
	background-repeat: no-repeat;
}

.x_rodape {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.topo {
	width: 100%;
	height: 50px;
	background-color: #333;
	z-index: 99999999;
	position: relative;
	position: fixed;
}