

<?php pr($offers);?>
<h2><span><strong>Titulo</strong> com descricao h2</span></h2>
	<h3><span><strong>Titulo</strong> com descricao h3</span></h3>
	<h3 class="icone-eventos"><span><strong>Titulo</strong> com descricao h3 com imagem</span></h3>
	<h4><span><strong>Titulo</strong> com descricao h4</span></h4>
&nbsp;
	<div class="informes">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet auctor dolor, ut fringilla ipsum cursus a. Cras ligula tellus, tempor vel imperdiet id, ultricies vel felis. Cras libero sapien, pulvinar non faucibus at, cursus sit amet nulla. Quisque non sollicitudin dui. 
		<br>
		<strong>»</strong>comentário aprovado<strong>»</strong>não publicado
	</div>

	<h3 class="icone-eventos">Eventos</h3>
	<div class="area-formulario">
		<label>Título textbox</label>
		<input type="text" class="textbox" maxlength="8">
		<span class="exemplo">Máximo 60 caracteres</span>
	</div>
	<div class="area-formulario">
		<label>Título textbox</label>
		<input type="text" class="textbox">
	</div>

	<h3 class="icone-ofertas">Ofertas</h3>
		<div class="area-formulario">
			<label>Select</label>
			<div class="select">
				<input type="hidden" name="seila">
				<strong>Selecione</strong>
				<ul>
					<li valor="teste 1">Item 1</li>
					<li valor="teste 2">Item 2</li>
					<li valor="teste 3">Item 3</li>
					<li valor="teste 4">Item 4</li>
				</ul>
			</div>
		</div>	

	<div class="area-formulario">
		<label>Multi Select</label>
		<input type="hidden">
		<div class="multi-select">
			<a href="javascript:void(0);" valor="1">Item 1</a>
			<a href="javascript:void(0);" valor="2" class="ativo">Item 2</a>
			<a href="javascript:void(0);" valor="3">Item 3</a>
			<a href="javascript:void(0);" valor="4">Item 4</a>
		</div>
	</div>


	<h3 class="icone-configuracoes">Preferências</h3>

	<div class="area-formulario">
		<label>Textarea</label>
		<textarea class="textarea"></textarea>
	</div>	

	<h3 class="icone-balao">FAQ</h3>	
	<div class="area-formulario">
		<label>CheckBox</label>
		<input type="hidden">
		<div class="checkbox">
			<a href="javascript:void(0);" valor="1"><span>Item 1</span></a>
			<a href="javascript:void(0);" valor="2"><span>Item 2</span></a>
			<a href="javascript:void(0);" valor="3"><span>Item 3</span></a>
			<a href="javascript:void(0);" valor="4"><span>Item 4</span></a>
		</div>
	</div>	
	<div class="area-formulario">
		<label>RadioButton</label>
		<input type="hidden">
		<div class="radiobutton">
			<a href="javascript:void(0);" valor="1"><span>Item 1</span></a>
			<a href="javascript:void(0);" valor="2" class="ativo"><span>Item 2</span></a>
			<a href="javascript:void(0);" valor="3"><span>Item 3</span></a>
			<a href="javascript:void(0);" valor="4"><span>Item 4</span></a>
		</div>
	</div>	


	<div class="area-formulario">
		<label>RadioButton</label>
		<input type="hidden">
		<div class="etiqueta-on-off">
			<span>Ligar</span>
			<div class="on-off">
				<img src="imagens/icones/on-off.png">
				<a href="javacript:void(0);"></a>
			</div>			
		</div>
		<div class="etiqueta-on-off">
			<span>Ligar</span>
			<div class="on-off">
				<img src="imagens/icones/on-off.png">
				<a href="javacript:void(0);"></a>
			</div>			
		</div>
		<div class="etiqueta-on-off">
			<span>Ligar</span>
			<div class="on-off">
				<img src="imagens/icones/on-off.png">
				<a href="javacript:void(0);"></a>
			</div>			
		</div>				
	</div>				


	<div class="area-botoes">
		<button class="envio">Publicar</button>
		<button>Cancelar</button>
	</div>

	<h3>PopUp</h3>
	<div class="area-formulario">
		<label>PopUp</label>
		<a href="javascript:void(0);" class="linkpopup">Clicaneu link para abrir a popup</a>
	</div>	


	<h3 class="icone-tabela">Tabelas</h3>

	<table cellpadding="0" cellspacing="0" class="tabela-padrao">
		<caption>Tabela Padrão</caption>
		<thead>
			<tr>
				<td>id</td>
				<td>Nome</td>
				<td>Descrição</td>
				<td>Valor</td>
				<td></td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Wilson Junior</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
				<td>R$ 29,90</td>
				<td class="comentario"><a href="javascript:void(0);">ver mais</a></td>
			</tr>
			<tr class="linha_detalhe">
				<td colspan="5">
					<p>data do comentário: <strong>11/01/2013</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus, magna id bibendum hendrerit, lectus mauris mattis ipsum, a sodales massa neque sit amet nibh. </p>
					<p><button class="ativo">não publicado</button><button>publicado</button></p>
				</td>
			</tr>				
			<tr>
				<td>1</td>
				<td>Wilson Junior</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
				<td>R$ 29,90</td>
				<td class="comentario"><a href="javascript:void(0);">ver mais</a></td>
			</tr>
			<tr class="linha_detalhe">
				<td colspan="5">
					<p>data do comentário: <strong>11/01/2013</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus, magna id bibendum hendrerit, lectus mauris mattis ipsum, a sodales massa neque sit amet nibh. </p>
					<p><button class="ativo">não publicado</button><button>publicado</button></p>
				</td>
			</tr>				
			<tr>
				<td>1</td>
				<td>Wilson Junior</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
				<td>R$ 29,90</td>
				<td class="comentario"><a href="javascript:void(0);">ver mais</a></td>
			</tr>
			<tr class="linha_detalhe">
				<td colspan="5">
					<p>data do comentário: <strong>11/01/2013</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus, magna id bibendum hendrerit, lectus mauris mattis ipsum, a sodales massa neque sit amet nibh. </p>
					<p><button class="ativo">não publicado</button><button>publicado</button></p>
				</td>
			</tr>				
			<tr>
				<td>1</td>
				<td>Wilson Junior</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
				<td>R$ 29,90</td>
				<td class="comentario"><a href="javascript:void(0);">ver mais</a></td>
			</tr>	
			<tr class="linha_detalhe">
				<td colspan="5">
					<p>data do comentário: <strong>11/01/2013</strong></p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin faucibus, magna id bibendum hendrerit, lectus mauris mattis ipsum, a sodales massa neque sit amet nibh. </p>
					<p><button class="ativo">não publicado</button><button>publicado</button></p>
				</td>
			</tr>											
		</tbody>


	</table>
	