
<div class="lista-de-ofertas">
	<div class="alinhamento">
<!-- Inicio de conteudo destaque principal -->
	<div class="oferta-destaque-principal">
	
		<div class="efetuado-com-sucesso">

			<img src="/portal/img/buy_success.png" />

    		<h2><strong><?php echo $mensagem;?></strong>&nbsp;<?php echo $this->Html->link($link, $descLink);?></h2>
			<!--<br>
			<strong>»</strong>comentário aprovado<strong>»</strong>não publicado-->
		</div>
	
	</div>
<!-- Fim de conteudo destaque principal -->




	</div>
</div>

