<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $title_for_layout;?></title>

<!-- META TAGS -->
<meta name="description" content="" />
<meta name="keywords" content="" />

<?php
if ($pluginName) {
	echo $this->Html->css ( "empresas/Companies" );
	echo $this->fetch ( 'css' );
	
	echo $this->Html->script ( 'jqueryTunado' );
	echo $this->Html->script ( "empresas/Companies" );
	echo $this->fetch ( 'script' );
}
?>

</head>

<body>
	<div class="topo">
		<?php echo $this->Html->image('logo-empresas.png', array('class'=>'logo'));?>
	</div>	
		
	<?php echo $this->fetch('content');?>
</body>
</html>

