<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><?php echo $title_for_layout;?></title>

<!-- META TAGS -->
<meta name="description" content="" />
<meta name="keywords" content="" />

<?php
if ($pluginName) {
	echo $this->Html->css ( "empresas/X_Companies" );
	echo $this->Html->css ("x_style");
	echo $this->Html->css ( "empresas/x_comp" );
	echo $this->fetch ( 'css' );
	
	echo $this->Html->script ( 'jqueryTunado' );
	echo $this->Html->script ( 'jquery.roundabout.min.js' );
	echo $this->Html->script ( 'jquery-ui-1.9.1.custom.min' );
	echo $this->Html->script ( 'jquery.mask.min' );
	echo $this->Html->script ( 'javascript.lib' );
	echo $this->Html->script ( 'jquery.stringify' );
	echo $this->Html->script ( 'complete' );
	echo $this->Html->script ( 'jquery.cycle.all' );
	echo $this->Html->script ( 'jquery.jcarousel.min' );
	echo $this->Html->script ( "empresas/Companies" );
	echo $this->Html->script ( 'refresh' );
	echo $this->fetch ( 'script' );
	
}
?>

</head>

<body>

<!-- <input type="text" id="calendario">  --> 

	<div class="topo_xcode" style="height: 40px;">
		<img src="../companies/img/icones/dashboard/user-avatar.png"
			style="float: right; margin-right: 90px; margin-top: 3px;" />
		<?php echo $this->Html->image('logo-empresas-2.png', array('class'=>'top'));?>
		<div id="username"
			style="float: right; margin-top: 50px; margin-right: 20px; font-family: Helvetica35-Thin; color: #000000;">Xcode
			User</div>
	</div>

	<div style="margin-top: 40px; border: 1px solid; height: 90%;">
			<?php echo $this->fetch('content');?>
	</div>

	<!-- RODAPE -->
	<?php echo $this->element('x_menu_rodape');?>

</body>
</html>
