
	<h4>Comentarios <a href="javascript:void(0);">clique para fechar</a></h4>
		<h5>data: <strong><?php echo date('d/m/Y');?></h5>
		<textarea style="width:97.5%; padding:10px 5px !important; height:50px; margin:20px 0px 20px 3px; border:1px solid #999; box-shadow:inset 0px 0px 10px #999 !important; font-style:italic;">
			
		</textarea>
	
	<div class="area-botoes"><button class="envio">Publicar</button><button>Cancelar</button></div>