
@import url(lista-de-ofertas.css);
@import url(formulario.css);
@import url(jquery-ui-1.9.1.custom.css);
@import url(rodape.css);
@import url(login.css);


body {
	display: table;
	height: 100%;
	width: 100%;
	margin:0px;
	padding:0px;
	font-size:14px;
	font-family: Arial;
	color:#575757;
	background:-webkit-linear-gradient(top, #fbfbfb, #f9f9f9);
	background:-moz-linear-gradient(top, #fbfbfb, #f9f9f9);
	background:-ms-linear-gradient(top, #fbfbfb, #f9f9f9);
	background:-o-linear-gradient(top, #fbfbfb, #f9f9f9);
}


h1{
	width:100%;
	float:left;
	margin:0px;
	padding:0px;
	position: fixed;
	margin-top: 50px;
	display: block;
	z-index: 9999;
	background-image: url('../../users/img/background/background-5.gif');
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
}
h1 span{
	position: relative;
	top:18px;
	left:40px;
	float: left;
	letter-spacing: -1px;
}
h1 strong{
	font-style: italic !important;
	display: block;
	font-size:30px; 
}
h1 .img{
	float: left;
	width:90px;
	overflow: hidden;
	height: 75px;
	margin-right: 10px;
	padding:10px;
	background-color:#535353;
	border-left:8px solid #ffa800;
	text-align: center;
	background-repeat: no-repeat;
	background-image: url('../../users/img/icones/seta.png');	
	background-position: 101px 40px;
}
h1 .img img{
	position: relative;
	top:-118px;
	left:-10px;
	float: left;
}
.form-validation {
	border:1px solid red;
}
.area-conteudo h2 img{
	float:left;
}

.area-conteudo h2{
	width:100%;
	height:39px;
	margin:20px auto;
	padding:0px;
	font-weight: normal;
	font-size:26px;
	display: table;
	letter-spacing: -1px;	
}
.area-conteudo h2 span{
	height:auto;
	display: table;
	float:left;
	position: relative;
	top:3px;
	margin-right: 10px;
}

.area-conteudo h3{
	display: block;
	margin:20px 0px 5px 0px;
	padding:5px 0px;
	font-size: 18px;
	font-weight: bold;
	float: left;
	width: 100%;

}
.area-conteudo h3 span{
	height:auto;
	display: table;
	float:left;
	position: relative;
	top:3px;
	margin-right: 10px;
}
.area-conteudo h3 .img{
	position:absolute;
	margin-top:-1px;
	margin-left:-32px;
	width:25px;
	height:25px;	
	display: none;
	background-image:url('../../users/img/icones/titulos-icones.png');
	background-repeat:no-repeat;
	background-position: 0px 100px;
}


.area-conteudo h4{
	display: block;
	margin:20px 0px 5px 0px;
	padding:5px 0px;
	font-size: 18px;
	font-weight: normal;
	font-style:italic; 
	float: left;
	width: 100%;
}
.area-conteudo h4 span{
	height:auto;
	display: table;
	float:left;
	position: relative;
	top:3px;
	margin-right: 10px;
}
.area-conteudo h4 .img{
	position:absolute;
	margin-top:-3px;
	margin-left:-32px;
	width:25px;
	height:25px;	
	background-image:url('../../users/img/icones/titulos-icones.png');
	background-repeat:no-repeat;
	background-position: 0px 100px;
}




.topo{
	width:100%;
	height:50px;
	background-color:#333;
	z-index:99999999;
	position: relative;
	position: fixed;
}
.oquehadenovo{
	display: table;
	width:250px;
	height:auto;
	margin:0px;
	position: absolute;
	top:0px;
	right:-8px;
	padding:0px 10px;
}
.oquehadenovo a{
	width:50px;
	display: block;
	height:50px;
	color:#fff;
	text-decoration: none;
	text-align: center;
	background:-webkit-linear-gradient(top, #ffa800, #f6bf00);
	background:-moz-linear-gradient(top, #ffa800, #f6bf00);
	background:-ms-linear-gradient(top, #ffa800, #f6bf00);
	background:-o-linear-gradient(top, #ffa800, #f6bf00);
}
.oquehadenovo a span{
	position: relative;
	top:16px;
}
.oquehadenovo .conteudooquehadenovo{
	width:250px;
	background-color: #f6f6f6;
	height:100%;
	display: none;
	position: absolute;
	top: 50px;
	padding:0px 0px 10px 0px;
	box-shadow: 0px 0px 10px #999;
}
.oquehadenovo .conteudooquehadenovo h2{
	background-image: none;
	font-weight: normal;
	letter-spacing: -1px;
	width:100%;
	padding:10px 0px;
	background-color:#fff;
	margin:0px;
	border-bottom: 1px solid #dfdfdf;
	font-size: 19px;
}
.oquehadenovo .conteudooquehadenovo h2 a{
	background:none;
	float: right;
	width: auto;
	height: auto;
	position: absolute;
	top: 15px;
	right: 10px;
	display: table;
}
.oquehadenovo .conteudooquehadenovo h2 a img{display:table;}
.oquehadenovo .conteudooquehadenovo h2 span{
	width:90%;
	margin:0px auto;
	display: block;
}
.oquehadenovo .conteudooquehadenovo h2 img{
	display:none;
}




.area-conteudo{
	width:86%;
	display: block;
	position: relative;
	height:100%;
	margin:145px 0px 0px 118px;
	/*margin:135px 0px 0px 158px;*/
	float:left;
	z-index:99;
	padding:15px 0px 200px 50px;
}
.informes{
	background-color:#dfdfdf;
	border-radius: 5px;
	padding:20px;
	color:#888;
	font-size: 13px;
	text-shadow:0px 1px #fff;
}
.informes strong{
	color:#ff9c00;
	padding:0px 5px;
}

/*Inicio de Codigo de Area Esquerda*/




.logo{
	position: relative;	
	top:15px;
	left:28px;
}

.fixatopo{
	position: fixed !important;
	top:0px !important;
	width: 100% !important;
	z-index: 99999999999999999 !important;

}





.area-esquerda{
	position: fixed;
	left: 0px;
	float: left;
	top:0px;
	padding:0px 0px;
	margin:0px 0px 10px 0px;
	border-left: 0px;
	background-color:#3f3f3f;
	width: 110px;
	height: 100%;
	display: table;
	/*background-image: url('../../companies/img/background/background-5.gif');*/
	border-left:8px solid #ffa800;
}
.area-esquerda ul{
	width:110px;
	list-style: none;
	padding:00px 0px;
	margin:0px auto;
	float: left;
	display: block;
	position: relative;	
	top:155px;
}	
.area-esquerda ul li{
	display: block;
	width: 110px;
	height: auto;
	float: left;
}


.area-esquerda ul li a{
	display: block;
	color:#fff;
	float: left;
	height: 80px !important;
	width: 100%;
	text-decoration: none;
	font-size: 13px;
	text-align: left;
	text-align:center;
	overflow: hidden;
}
.area-esquerda ul li a img{position: relative; left:-4px;}



/*Inicio de conteudo de OPcoes do Usuario no Topo*/
.usuariologado{
	float:right;
	width:202px;
	height:50px;
	position: relative;
	display: table;
}
.usuariologado .abriropcoesusuario{
	width:202px;
	height:50px;
	display: table;
	color:#999;
	text-decoration: none;
	text-align: center;
	position: relative;
	cursor: pointer;
}
.usuariologado .abriropcoesusuario img{
	position: relative;
	top:4px;
}
.usuariologado .abriropcoesusuario span{
	position:relative;
	top: 15px;
}

.usuariologado .conteudoopcoesusuario{

	background-color:#f8f8f8;
	display: none;
	box-shadow: 0px 0px 10px #999
}
.usuariologado .conteudoopcoesusuario a{
	text-decoration: none;
	display: block;
	border-bottom:1px solid #efefef;
	padding:10px 0px;
	text-align: right;
	color:#535353;
	font-size: 12px;
}
.usuariologado .conteudoopcoesusuario a:hover{
	text-decoration: none;
	display: block;
	border-bottom:1px solid #efefef;
	padding:10px 0px;
	text-align: right;
	color:#fff;
	font-size: 12px;
	background:-webkit-linear-gradient(top, #ffa800, #f6bf00);
	background:-moz-linear-gradient(top, #ffa800, #f6bf00);
	background:-ms-linear-gradient(top, #ffa800, #f6bf00);
	background:-o-linear-gradient(top, #ffa800, #f6bf00);
}
.usuariologado .conteudoopcoesusuario a span{
	display: block;
	width:90%;
	margin:0px auto;
}




/*Inicio de Codigo de Detalhes dos produtos*/
.ver-descricoes{
	font-size: 14px;
	float: right;
	position: relative;
	right: 20px;
	top:0px;
	color:#535353;
	text-decoration: none;
	background-color: #f6bf00;
	padding: 8px;
	box-shadow:inset 0px 0px 10px #999;
}
.ver-descricoes:hover{
	color:#000;
}
.detalhe-do-item{
	float: right;
	height: auto;
	display: block;
	width: 100% !Important;
	background-color:#ebebeb;
	position: relative;
	z-index: 999;
}
.detalhe-do-item h2{width: 60%; float: left; margin:10px 0px 0px 10px; font-style: italic; text-transform: uppercase; padding:0px;}
.detalhe-do-item h2 img{display: none;}
.detalhe-do-item h3{width: 60%; float: left; margin:0px 0px 0px 10px !important; padding:0px !important; font-size: 12px;}

.detalhe-do-item .valor-do-produto{
	width:50%;
	float:left;
	position: relative;
	top:20px;
	font-size: 18px;
	padding: 0px 0px 0px 10px;
	line-height: 28px;
	color:#999;
}
.detalhe-do-item .valor-do-produto span{
	font-size: 20px;
	color:#333;
}
.detalhe-do-item .valor-do-produto strong{
	font-size: 40px;
	display: block;
	color:#333;
}
.area-fechar-compartilhar{
	position: absolute;
	top:0px;
	right: 340px;
	float: right;
	width: 140px;
}
.fechar-oferta{
	background-color: #9c0000;
	color:#fff;
	text-decoration: none;
	padding:5px;
	float: right;
	height: 15px;
	position: relative;
}
.compartilhar-oferta{
	background-color: #3b5998;
	color:#fff;
	text-decoration: none;
	padding:5px;
	float: right;
	font-style:italic;
	font-weight: bold; 
	height: 15px;
}

.detalhe-do-item .compre-agora{
	width:170px;
	height:162px;
	background-color: #3fa800 !important;
	color:#fff;
	display: block;
	float:right;
	padding:20px 10px;
	text-decoration: none;
	font-size: 30px;
	line-height: 26px;
	background-image:url('../../users/img/botoes/compre-agora.gif');
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9000px;
	border:0px;
}

.detalhe-do-item .faltam-dias{
	width:150px;
	height:162px;
	background-color: #ff8800 !important;
	color:#fff;
	display: block;
	float:right;
	padding:0px 10px;
	text-decoration: none;
	text-align: right;
}
.detalhe-do-item .faltam-dias span{
	position: relative;
	top:90px;
	float: right;
}
.detalhe-do-item .faltam-dias strong{
	display: block;
	font-size: 30px;
}


.fotos-do-item{
	float: left;
	width: 100% !important;
	height: 300px;
	display: block;
	width: 100% !Important;
	margin: 0px auto;
	padding:0px;
	list-style: none;
	background-color: #fff !important;
}
.fotos-do-item li{
	width:100%;
	text-align: center;
	height: 300px;
	float: left;
	background-color: #fff !important;
}
.fotos-do-item li img{
	height: 300px;
}
.navegacao{
	width: 100%;
	height: 15px;
	display: table;
	text-align: center;
	border-top:1px solid #dfdfdf;
}
.navegacao div{
	margin:2px auto 0px auto;
	width: auto;
	display: table;
	height: 10px;
}
.navegacao a{
	width: 9px;
	height: 10px;
	background-image: url('../../users/img/icones/navegacao-users/img.png');
	background-repeat: no-repeat;
	background-position: bottom;
	display: block;
	text-indent: -9000px;
	float: left;
}
.activeSlide{background-position: top !important;}


.area-informacoes-do-item{
	float: left;
	width: 98%;
	height: auto;
	display: table;
}
.area-abas{
	width: 100%;
	height: auto;
	display: block;
	float: left;
	margin: 0px;
	padding-top:20px;
	overflow: hidden;
}

.area-abas div{

}

.area-abas p{
	color:#535353;
	font-size:14px;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: justify;
	width: 99%;
	margin:10px auto;
}
.conteudo-oculto{display: none;}
.abas{
	list-style: none;
	width: 100%;	
	height: auto;
	display: table;
	padding: 0px 0px;
	position: relative;
	margin: 30px 0px 00px 0px !important;
	border-bottom:2px solid #999;
	float: left;
}
.abas li:first-child{padding-left: 0px;}
.abas li{
	width:auto;
	padding:5px 10px 10px 10px;
	float: left;
	margin:0px 1px;
	margin-left: 0px
}
.abas li.ativo{
	/*box-shadow:inset 0 0 10px #ccc;
	background-color: #fbfbfb;	*/
	font-weight: bold;

}
.abas li.ativo a{
	color:#525252;
}
.abas li a{
	color:#999;
	text-transform: lowercase;
	text-decoration: none;
}



/*Inicio de codigo Resumo da compra*/
.paragrafo-descricao{
	float: left !important;
	width: 65% !important; 
	height: 86px;
	position: relative;
}

/*Inicio de Codigo Endereços e Fretes*/
.detalhe-endereco-entrega .alinha, .detalhe-forma-pagamento, .alinha{width: 98%; margin:0px auto !important; float: none !important; }
.area-detalhes{
	width: 98%;

	height: auto;
	display: block;
	margin:0px auto 20px auto;
	background-color:#fff;
	border-bottom: 2px solid #ffa800;
	box-shadow: 0px 4px 4px #efefef;	
	float: left;
	border-radius: 5px 5px 0px 0px;
}
.selecionar-enderecos{float: left; display: block; width: 100%;}
.selecionar-enderecos a{
	display: block;
	float: left;
	margin:5px 10px 5px 0px;
	color:#333 !important;
	text-decoration: none;
	border:1px solid #cc8600;
	padding:10px;
	background-color:#ffa800;
}
.selecionar-enderecos a:hover{
	color:#333;
	border:1px solid #cc8600;
	box-shadow: 0px 0px 10px #999;
}
.detalhe-endereco-entrega{
	width: 100%;
	height: auto;
	display: block;
	margin:0px auto;
	float: left;	
	position: relative;
	padding:20px 0px;
}
.detalhe-endereco-entrega .detalhes-do-endereco{
	width: 98%;
	height: auto;
	float: left;
	display: none;
	padding: 00px 0px;
	
}

.detalhe-endereco-entrega-ajax .detalhes-do-endereco{
	width: 98%;
	height: auto;
	float: left;
	display: block;
	padding: 00px 0px;
	
}

.detalhe-endereco-entrega .detalhes-do-endereco a{
	display: block;
	padding:5px 3px 5px 10px;
	float: left;
	margin: 18px 20px 10px 0px;
	color:#535353;
	font-weight: normal;
	text-decoration: none;
	background-image: url('../../users/img/icones/seta-esquerda-link.png');
	background-position: left;
	background-repeat: no-repeat;
	text-decoration: underline;
}
.detalhe-endereco-entrega input:focus{color:#535353; box-shadow: inset 0px 0px 5px #dfdfdf; box-shadow: 0px 0px 10px #ccc;}

.detalhe-endereco-entrega .previsao-de-entrega{
	color:red;
	font-size: 12px;
	font-style: italic;
	position: relative;
	margin-top: 25px;
	display: none;
} 
.detalhe-endereco-entrega a{
	color:#ffa800;
	font-weight: bold;
} 
.detalhe-endereco-entrega h4{width:100% !important; margin:-14px auto 10px auto; background-color:#535353; color:#fff;}
.detalhe-forma-pagamento h4{width:100% !important; margin:0px auto 10px auto; background-color:#535353; color:#fff;}


.detalhe-endereco-entrega .textbox, .detalhe-forma-pagamento .textbox{
	color:#333;
	background-color:#fff !important;
	box-shadow: 0px 0px 0px;
}





.detalhe-forma-pagamento{
	width: 100%;
	height: auto;
	display: block;
	margin:0px auto;
	float: right !important;
	padding:0px 0px 20px 0px;
	overflow: hidden;
	background-image: url('../../users/img/logo-moip.png');
	background-repeat: no-repeat;
	background-position: right bottom; 

}
.detalhe-forma-pagamento .area-escolha-de-cartao{
	float:left;
	width: 30%;
	height: auto;
	display: block;
}
.detalhe-forma-pagamento .area-dados-de-cartao{
	float:right;
	width: 69%;
	height: auto;
	display: block;
}
.detalhe-forma-pagamento .formulario{
	float: left;
	width: 100%;
	height: auto;
	display: table;
	z-index: 9999;
	position: relative;
}
#cartao .selecione-metrica{
	width:auto !important;
	float: left;
	height: 30px !important;
	background-color: transparent !important;
	position: relative;
	z-index:9999999;
	margin: 20px 0px;
}

#cartao .selecione-metrica li{
	background:-webkit-linear-gradient(top, #fff, #fff);
	background:-moz-linear-gradient(top, #fff, #fff);
	background:-ms-linear-gradient(top, #fff, #fff);
	background:-o-linear-gradient(top, #fff, #fff);
}
#cartao ul li ul{
    float: left;
    height: 114px;
    overflow: auto;
    position: absolute;
    width: auto !important;
    margin-top:0px !Important;
    z-index: 99999999 !important;

}

#cartao .selecione-metrica div{height:1px !important; background-color: #fff !important;}

#cartao .selecione-metrica .span{
	width:auto !important;
	height: 22px; !important; float:left;
}
#cartao .selecione-metrica input{
	float: right;
	width: 100px !important;
	padding:0px 6px !important;
	color: #fff !important;
	text-shadow:0px 0px 0px;
	background-color: #999999 !important; 
	border: none !important;
	border-radius: 0px;
	margin: 0px;
	height:28px;
}

.detalhe-forma-pagamento input[type="radio"]{position: relative; top:-8px; margin-left: 20px; margin-right: 5px;}


.detalhe-forma-pagamento div h5{margin:0px auto 15px auto;}

#selecione-o-meio a{
	display: block;
	float: left;
	margin:5px;
	color:#000;
	text-decoration: none;
	border:1px solid #cc8600;
	padding:10px;
	background-color:#ffa800;
	/*box-shadow: inset 0px 0px 10px #ccc;*/
	/*background:-webkit-linear-gradient(top, #fff, #efefef);
	background:-moz-linear-gradient(top, #fff, #efefef);
	background:-ms-linear-gradient(top, #fff, #efefef);
	background:-o-linear-gradient(top, #fff, #efefef);		*/
}
#selecione-o-meio a:hover{
	color:#333;
	border:1px solid #cc8600;
	box-shadow: 0px 0px 10px #999;
}
#boleto-bancario, #cartao{
	display: none;
}
#cartao input{
	border-radius: 5px;
}
#boleto-bancario input.btn{
	display: block;
	float: left;
	margin:5px;
	color:#000;
	text-decoration: none;
	border:1px solid #cc8600;
	padding:10px;
	background-color:#ffa800;
}
#boleto-bancario a.btn{
	text-decoration: none;
	padding:10px;
	color:#535353;
	text-shadow: 0px 1px 0px #fff;
	cursor: pointer;
	font-size: 14px !important;
	border-left: 5px solid #ffa800;
	display: block;
	position: relative;
	top:5px;
	left:3px;
}
.copyright-pagamento{
	float: right;
	margin:0px;
	padding:0px;
	position: relative;
	top:-20px;
	height: auto;
	left:15px;
	opacity: 0.5;
}
#sendToMoip{
	opacity: 0.5;
}






/*Inicio de codigo Pagina Assinaturas*/

.area-assinaturas{
	width:200px;
	height: auto;
	display: block;
	float: left;
	margin-left:80px;
	margin-top:100px;
	position: absolute;
	z-index: 9;
}
.txtPesquisa{
	border:1px solid #dfdfdf;
	padding: 8px;
	border-radius: 15px;
	background:-webkit-linear-gradient(top, #fff, #efefef);
	background:-moz-linear-gradient(top, #fff, #efefef);
	background:-ms-linear-gradient(top, #fff, #efefef);
	background:-o-linear-gradient(top, #fff, #efefef);	
	color:#999;
	box-shadow: inset 0px 0px 4px #dfdfdf;		
}
.area-assinaturas .opcoes{
	width:100px;
	height: auto;
	display: block;
}
.area-assinaturas .opcoes a{
	position: relative;
	display: block;
	box-shadow: 0px 0px 10px #333;
	color:#fff;
	text-decoration: none;
	background:-webkit-linear-gradient(top, #ff0000, #da193e);
	background:-moz-linear-gradient(top, #fff, #da193e);
	background:-ms-linear-gradient(top, #fff, #da193e);
	background:-o-linear-gradient(top, #fff, #da193e);		
	padding:10px;
	border-radius: 10px 0px 0px 10px;
	left:25px;
}
.area-assinaturas .opcoes a img{
	width: 23px;
}
.area-assinaturas .opcoes a.ativo{
	left:-15px;
}

.ativo-inativo{
	width: 25px;
	height:25px;
	display: block;
	text-indent: -9000px;
	background-image: url('../../users/img/icones/assinaturas/ativo-inativo.png');
	background-position: top;
	background-repeat: no-repeat;
	float: right;
	margin:0px 20px 0px 0px;
}
.ativado{
	background-position: bottom;	
}

.tabela-assinaturas tbody td{
	background:-webkit-linear-gradient(top, #fff, #efefef);
	background:-moz-linear-gradient(top, #fff, #efefef);
	background:-ms-linear-gradient(top, #fff, #efefef);
	background:-o-linear-gradient(top, #fff, #efefef);		
}

/*Atualizacao campos de login 05 02 2013*/
.campo-de-login{
	padding:10px 0px 20px 0px !important;
	display: table;
	height: auto;
	width: 98%;
	margin:0px auto;
	background:-webkit-linear-gradient(top, #fff, #efefef);
	background:-moz-linear-gradient(top, #fff, #efefef);
	background:-ms-linear-gradient(top, #fff, #efefef);
	background:-o-linear-gradient(top, #fff, #efefef);

}
.campo-de-login h2{
	width: 85%;
	margin:10px auto;
	color:#535353;
	padding:0px;
	background: transparent;
	font-style: italic;
	font-size: 18px;
	letter-spacing: -1px;
}
.campo-de-login h2 img{display:none;}
.campo-de-login input{
	width: 80%;
	margin:5px auto;
}
.campo-de-login a{
	display: table;
	float: left;
	padding:0px !Important;
	position: relative;
	top:5px;
	margin:1px auto;
	width: 53%;
	border:none !important;
	font-size: 10px !important;
	color:#d18c06 !important;
	font-style: italic;
}
.campo-de-login a:hover{background: transparent !important; color:#000 !important; }
.campo-de-login button{
	border:none;
	border-radius: 4px;
	float: right;
	padding:10px 20px;
	margin-right: 20px;
	width: auto !important;	
}	




/*Inicio de codigo de metrica no resumo da compra*/

.area-metricas{
	width: 900px;
	height: auto;
	display: block;
	position: relative;
	margin:0px auto 20px auto !important;
	padding:20px 0px;
	float: left;
	
}
.area-metricas h4{display: block; width: 100% !important;}
.selecione-metrica{
	float: left;
	list-style: none;
	display: block;
	width: 290px;
	position: relative;
	padding: 0px;
	margin: 5px 0px;
	margin-right:5px;
}

.selecione-metrica a.itens-input-quantidade{
	display: block;
	float: right;
	width: 22px !important;
	padding:0px 0px 0px 0px !important;
	text-align: center;
	font-size: 30px;
	border-left: 1px solid #fff;
	line-height: 25px;
	background-image: url('../../');
	background-repeat: no-repeat;
	background-position: left;
}
.selecione-metrica a.itens-input-quantidade img{
	width: 100%;
	margin:0px;
	box-shadow: 0px 0px 0px !Important;
	border:none !Important;
}	
.selecione-metrica li ul{
	width: 100%;
	height: auto;
	float: left;
	list-style: none;
	padding: 0px;
	margin: 0px;
	background-color: transparent;
	box-shadow: 0px 5px 10px #999;
	position: absolute;
	display: none;

}
.selecione-metrica li {
	display: table;
	height: auto;
	width: 100%;
	background-color: #ccc; 
	background:-webkit-linear-gradient(top, #fff, #efefef);
	background:-moz-linear-gradient(top, #fff, #efefef);
	background:-ms-linear-gradient(top, #fff, #efefef);
	background:-o-linear-gradient(top, #fff, #efefef);
	
	/*border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;*/
}
.selecione-metrica li ul li{
	padding:3px 0px;
	background-color: #efefef; 
	z-index:9;
	float: left;
	display: table;
	position: relative;
}
.selecione-metrica li ul li:hover{
	opacity: 1;
	z-index:99999999;
}
.selecione-metrica li ul li:hover a{
	color:#ffa800;

}
.selecione-metrica li a{
	margin: 0px auto;
	width: 95%;
	display: block;
	height: auto;
	color:#333;
	padding:5px 0px;
	text-decoration: none;
}
.selecione-metrica li div{
	display: table;
	cursor: pointer;
}
.selecione-metrica li span{
	display: block;
	float: left;
	padding:6px 10px 0px 10px;
	position: relative;
	width: 80px;
	height:20px;
	text-align: right;
	background-color: orange;
	text-shadow:0px 0px 0px;
	color:#fff !important;
}
.selecione-metrica li input{
	float: right;
	padding:0px 6px;
	color: #fff;
	text-shadow:0px 0px 0px;
	background-color: #999; 
	border: none;
	margin: 0px;
	width: 178px;
	height:26px;
	cursor: pointer;
}

.status{
	background-repeat:no-repeat;
	background-position:top right;
}
.linha_detalhe_{
	display:none;	
}

.lista-de-ofertas .topo{
	border-bottom: 8px solid #ffa800;
	box-shadow: 0px 0px 5px #666;
}
.lista-de-ofertas .alinhamento{
	height: auto;
	display: table;
	margin:0px auto;
	width:1000px;
	position: relative;
	margin-top:58px;
	margin-bottom:20px;
}
.lista-de-ofertas .oferta-destaque-principal .descricoes{
	float: left;
	width:50%;
	height:100%;	
	background-color:#ffa800;

}
.lista-de-ofertas .oferta-destaque-principal .descricoes .seta-de-ofertas{
	position: absolute;
	margin-top: -67px;
	margin-left: 4px;

	float: right;
	z-index:9999999999 !Important;
	width: 220px;
	height:51px;
	display: block;	
}
.lista-de-ofertas .oferta-destaque-principal .descricoes .seta-de-ofertas a{display: block; width:52px; height:51px;}
.lista-de-ofertas .oferta-destaque-principal .descricoes .seta-de-ofertas img{position: relative; z-index: 9999;}
.lista-de-ofertas .oferta-destaque-principal .descricoes .seta-de-ofertas span{
	background-color:#333;
	color:#fff;
	position: absolute;
	height: auto;
	top:1px;
	width: 180px;
	left:25px;
	z-index:0;
	padding:16px 20px 17px 20px;
	display: none;
	box-shadow: 0px 0px 10px #333;
	text-align: right;
}

.lista-de-ofertas .oferta-destaque-principal  .botao-comprar{
	position: absolute;
	border:none;
	margin-left:289px;
	margin-top:-66px;
	background-color: #81abd5;
	font-size: 20px;
	color:#fff;
	padding:12px 20px 12px 20px;
	font-weight: normal;
	text-align: center;
	height: auto;
	border: 1px solid #6d99c4;
	border-right: 0px;
	text-decoration: none;
}
.lista-de-ofertas .oferta-destaque-principal  .botao-comprar strong{
	
	margin-left: 10px;
	padding-right: 20px;
	/*letter-spacing: 2px;*/
}

.seta-de-ofertas img{
	
	/*-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);*/
}
	
.lista-de-ofertas .oferta-destaque-principal{
	width:1000px;
	height:333px;
}

.lista-de-ofertas .oferta-destaque-principal h2{
	margin:25px auto 0px auto;
	width: 90%;
	text-transform: uppercase;
	color:#333;
	background: none !important;
	font-size: 28px;
}
.lista-de-ofertas .oferta-destaque-principal h2 img{display: none;}
.lista-de-ofertas .oferta-destaque-principal p{
	color:#333;
	margin:5px auto;
	width: 90%;
	height:40%;
}
.lista-de-ofertas .oferta-destaque-principal p.principal{
	width: 90%;
	height: 140px !important;
	overflow: hidden !important;
	display: block !important;
	font-size: 18px;
}
.lista-de-ofertas .oferta-destaque-principal p.marca{
	font-size:16px;
	color:#8d4b00;
	font-style: italic;
	margin:0px auto 20px auto;
	height:auto;
}
.lista-de-ofertas .oferta-destaque-principal p.valor-de{
	color:#9c5300;
	font-size:16px;
	text-decoration:line-through;
	height:auto;
}
.lista-de-ofertas .oferta-destaque-principal p.valor-por{
	color:#fff;
	font-weight: bold;
	font-size:38px;
	height:auto;
}
.lista-de-ofertas .oferta-destaque-principal .imagem_destaque{
	float: left;
	width: 50%;
	height:100%;
	overflow: hidden;
	display: block;
	box-shadow: inset 0px 0px 5px #333;
}
.lista-de-ofertas .oferta-destaque-principal .imagem_destaque img{
	width: 120%;
	height: 120%;
}


.lista-de-ofertas .abriropcoesusuario{
	color:#fff !important;
	font-style: italic;
	width:240px !important;
}

/*Inicio de Codigo destaques PAR*/
.lista-de-ofertas .oferta-destaque  .botao-comprar{
	position: absolute;
	z-index: 9;
	border:none;
	left:104px;
	top:102px;
	background-color: #81abd5;
	font-size: 14px;
	color:#fff;
	padding:15px 10px 15px 10px;
	font-weight: normal;
	text-align: center;
	height: auto;
	border: 1px solid #6d99c4;
	border-right: 0px;
	text-decoration: none;
}
.lista-de-ofertas .oferta-destaque  .botao-comprar strong{
	
	margin-left: 5px;
	padding-right: 20px;
	/*letter-spacing: 2px;*/
}
.lista-de-ofertas .oferta-destaque .descricoes{
	float: left;
	width:50%;
	height:100%;	
	background-color:#ffa800;
	z-index:9999;
	position: relative;

}

.lista-de-ofertas .oferta-destaque .descricoes .seta-de-ofertas{
	position: absolute;
	margin-top:1px;
	margin-left: 1px;
	float: right;
	z-index:9999999999 !Important;
	width: 220px;
	height:51px;
	display: block;	
}
.lista-de-ofertas .oferta-destaque .descricoes .seta-de-ofertas a{display: block; width:52px; height:51px;}
.lista-de-ofertas .oferta-destaque .descricoes .seta-de-ofertas img{position: relative;z-index: 9999;}
.lista-de-ofertas .oferta-destaque .descricoes .seta-de-ofertas span{
	background-color:#333;
	color:#fff;
	position: absolute;
	height: auto;
	top:2px;
	left:27px;
	z-index:0;
	padding:17px 15px 16px 40px;
	display: none;
	box-shadow: 0px 0px 10px #333;
}


.lado-direito-esquerdo{left:-10% !important; }
.lado-direito-esquerdo span{left:-71% !important; padding:15px 40px 15px 15px !important;}

.lista-de-ofertas .oferta-destaque{
	width:500px;
	float: left;
	height:167px;
}
.lista-de-ofertas .oferta-destaque h2{
	margin:15px auto 0px auto;
	padding:0px;
	width: 90%;
	height: auto;
	text-transform: uppercase;
	color:#333;
	background: none !important;
	font-size: 13px;
}
.lista-de-ofertas .oferta-destaque h2 img{display: none;}
.lista-de-ofertas .oferta-destaque p{
	color:#333;
	margin:5px auto;
	width: 90%;
	height:auto;
	font-size:80%;
	position: relative;
}
.lista-de-ofertas .oferta-destaque p.principal{
	width: 90%;
	height: 40px !important;
	overflow: hidden !important;
	display: block !important;
	font-size: 11px;
	line-height: 10px;
}
.lista-de-ofertas .oferta-destaque p.principal{overflow: hidden;height:28%;}
.lista-de-ofertas .oferta-destaque p.marca{
	font-size:80%;
	color:#8d4b00;
	font-style: italic;
	margin:0px auto 10px auto;
	height:auto;

}
.lista-de-ofertas .oferta-destaque p.valor-de{
	color:#9c5300;
	font-size:80%;
	text-decoration:line-through;
	height:auto;
	position: relative;
	margin-top: 15px;
	letter-spacing: -1px;
}
.lista-de-ofertas .oferta-destaque p.valor-por{
	color:#fff;
	font-weight: bold;
	font-size:120%;
	height:auto;
	letter-spacing: -1px;
}
.lista-de-ofertas .oferta-destaque .imagem_destaque{
	float: left;
	width: 50%;
	height:100%;
	overflow: hidden;
	display: block;
	box-shadow: inset 0px 0px 10px #333;
	z-index:9999;
}
.lista-de-ofertas .oferta-destaque .imagem_destaque img{
	width: 120%;
	height: 120%;
	z-index:9;
}

/*Fim de Ofertas Destaque PAR*/

/*Inicio de Ofertas Destaque IMPAR*/
.lista-de-ofertas .oferta-destaque-impar  .botao-comprar{
	position: absolute;
	z-index: 9;
	border:none;
	left:-2px;
	top:102px;
	background-color: #81abd5;
	font-size: 14px;
	color:#fff;
	padding:15px 0px 15px 30px;
	font-weight: normal;
	text-align: right;
	height: auto;
	border: 1px solid #6d99c4;
	border-right: 0px;
	text-decoration: none;
	
}
.lista-de-ofertas .oferta-destaque-impar  .botao-comprar strong{
	
	margin-left: 10px;
	padding-right: 20px;
	/*letter-spacing: 2px;*/
}
.lista-de-ofertas .oferta-destaque-impar .descricoes{
	float: right;
	width:50%;
	height:100%;	
	background-color:#ffa800;
	z-index:9999;
	position: relative;

}

.lista-de-ofertas .oferta-destaque-impar .descricoes .seta-de-ofertas{
	position: absolute;
	margin-top:-46px;
	margin-left: -25px;

	float: right;
	z-index:9999 !important;
	width: 52px;
	height:51px;
	display: block;	

}
.lista-de-ofertas .oferta-destaque-impar .descricoes .seta-de-ofertas a{display: block; width:52px; height:51px;}
.lista-de-ofertas .oferta-destaque-impar .descricoes .seta-de-ofertas img{position: relative;z-index: 9999;}
.lista-de-ofertas .oferta-destaque-impar .descricoes .seta-de-ofertas span{
	background-color:#333;
	color:#fff;
	position: absolute;
	height: auto;
	top:-0px;
	left:-140px;
	z-index:0;
	padding:17px 40px 17px 15px;
	display: none;
	box-shadow: 0px 0px 10px #333;
	text-align: left;
}
.lado-direito-esquerdo{left:-10% !important; }
.lado-direito-esquerdo span{left:-71% !important; padding:15px 40px 15px 15px !important;}

.lista-de-ofertas .oferta-destaque-impar{
	width:500px;
	float: left;
	height:167px;
}
.lista-de-ofertas .oferta-destaque-impar h2{
	margin:15px auto 0px auto;
	padding:0px;
	width: 90%;
	height: auto;
	text-transform: uppercase;
	color:#333;
	background: none !important;
	font-size: 13px;
}
.lista-de-ofertas .oferta-destaque-impar h2 img{display: none;}
.lista-de-ofertas .oferta-destaque-impar p{
	color:#333;
	margin:5px auto;
	width: 90%;
	height:auto;
	font-size:80%;
	position: relative;
}
.lista-de-ofertas .oferta-destaque-impar p.principal{
	width: 90%;
	height: 40px !important;
	overflow: hidden !important;
	display: block !important;
	font-size: 11px;
	line-height: 10px;
}
.lista-de-ofertas .oferta-destaque-impar p.principal{overflow: hidden;height:28%;}
.lista-de-ofertas .oferta-destaque-impar p.marca{
	font-size:80%;
	color:#8d4b00;
	font-style: italic;
	margin:0px auto 10px auto;
	height:auto;

}
.lista-de-ofertas .oferta-destaque-impar p.valor-de{
	color:#9c5300;
	font-size:80%;
	text-decoration:line-through;
	height:auto;
	position: relative;
	letter-spacing: -1px;
	margin-top: 15px;
	text-align: right;
}
.lista-de-ofertas .oferta-destaque-impar p.valor-por{
	color:#fff;
	font-weight: bold;
	font-size:120%;
	height:auto;
	letter-spacing: -1px;
	text-align: right;
}
.lista-de-ofertas .oferta-destaque-impar .imagem_destaque{
	float: left;
	width: 50%;
	height:100%;
	overflow: hidden;
	display: block;
	box-shadow: inset 0px 0px 10px #333;
	z-index:9999;
}
.lista-de-ofertas .oferta-destaque-impar .imagem_destaque img{
	width: 120%;
	height: 120%;
	z-index:9;
}



/*FIM de Ofertas Destaque IMPAR*/




.oferta-detalhada h3{
	width:100%;
	margin:10px auto;
	display: block;
	padding: 0px !important;
	background: none !important;
	font:40px Arial;
	letter-spacing: -1px;
}
.area-fotos{
	width:638px;
height:360px;
	display: block;
	float: left;
	overflow: hidden;
}
.area-fotos .seta-esquerda{
	position: absolute;
	width: 81px;
	height: 137px;
	top:180px;
	margin-left: 0px;
	background-image: url('../../users/img/icones/seta-esquerda-carousel-imagens.png');
}	
.area-fotos .seta-direita{
	position: absolute;
	width: 81px;
	height: 137px;
	top:180px;
	margin-left: 560px;

	background-image: url('../../users/img/icones/seta-esquerda-carousel-imagens.png');	
	-webkit-transform:rotate(180deg);
	-moz-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);		
}	
.area-fotos ul{
	float: left;
	list-style: none;
	width:638px;
	height:360px;
	margin:0px;
	padding:0px;
}
.area-fotos ul li{
	width: 480px;
	margin:0px !important;
	float: left !important;
}
.area-fotos ul li img{
	width:480px;
	height:360px;
	
}
.roundabout-moveable-item{
	position: absolute;
	top:0px !important;
	/*opacity: 0.3 !important;*/
	cursor: pointer;


}
.roundabout-in-focus{
	box-shadow: 0px 0px 40px #999;
	/*opacity: 1 !important;*/
	background-color:#fff;
	cursor: default; !important;
}


.area-descricoes{
	float: left;
	width:430px;
	height:360px;
	margin-left: 5px;
}

.area-descricoes .descricoes{
	background-color:#efefef;
	width:430px;
	height:190px;
	border:1px solid transparent;	
}
.area-descricoes .valor-do-produto{
	width: 90%;
	margin:10px auto 10px auto;
	display: table;
	height: auto;
}
.area-descricoes .descricoes .valor-antigo{
	color: #909090;
	font-size: 16px;
	display: block;
	text-decoration: line-through;
}	
.area-descricoes .descricoes .valor{
	font-size:28px;
	font-weight: bold;
	display: block;
}
.area-descricoes .descricoes .parcelamento{
	color:#4a4a4a;
	display: block;
	font-size: 12px;
}
.area-descricoes .descricoes .validade{
	color:#aa0006;
	display: block;
	font-size: 12px;
}
.area-descricoes .valor-do-produto button{
	border: 0px;
	background: none;
	width:151px;
	height: 42px;
	float: right;
	top:20px;
	right: 1px;
	position: relative;
	cursor: pointer;
}
.area-descricoes .descricoes .texto-descritivos{
	width:90%;
	height: auto;
	display: table;
	margin:5px auto;
}
.area-descricoes .descricoes .texto-descritivos h4{
	font-size:16px;
	color:#4e4e4e;
	margin:0px;
	padding:0px;
	font-style: normal;
	font-weight: bold;
	letter-spacing: -1px;
}
.area-descricoes .descricoes .texto-descritivos p{
	font-size:13px;
	color:#4e4e4e;
	margin:0px 0px 10px 0px ;
	padding:0px;
	font-style: italic;
	letter-spacing: -1px;	
}

.area-descricoes .descricoes .texto-descritivos .categorias{
	font-style: italic;
}

.area-descricoes .descricoes .texto-descritivos .categorias strong{
	font-style: normal;
}

.area-descricoes .opcoes{
	background-color:#fff;
	width:430px;
	height:160px;
	margin: 5px 0px;
	border:1px solid transparent;
}

.area-descricoes .opcoes ul{
	width: 96%;
	height:160px;
	margin: 0px auto;
	padding: 0px;
	font-style: italic;
	display: block;
	list-style: none;
}
.area-descricoes .opcoes ul li{
	letter-spacing: -1px;
	display: table;
	width: 100%;
	height: 50px;
	padding: 0px;
}
.area-descricoes .opcoes ul li span{
	position: relative;
	top:16px;
	width: 84%;
	float: right;
}
.area-descricoes .opcoes ul li img{
	float: left;
	

}
.area-descricoes .opcoes ul li strong{
	float: left;
	margin-right: 10px;
	font-size: 50px;
	font-style: normal;
	letter-spacing: -3px;
	line-height: 50px;
}




.area-informacoes-do-item{
	float: left;
	width: 98%;
	height: auto;
	display: table;
}
.area-informacoes-do-item .area-abas{
	width: 100%;
	height: auto;
	display: block;
	float: left;
	margin: 0px;
	padding-top:20px;
	overflow: hidden;
}

.area-informacoes-do-item .area-abas div{

}

.area-informacoes-do-item .area-abas p{
	color:#535353;
	font-size:14px;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: justify;
	width: 99%;
	margin:10px auto;
}
.area-informacoes-do-item .conteudo-oculto{display: none;}
.area-informacoes-do-item .abas{
	list-style: none;
	width: 100%;	
	height: auto;
	display: table;
	padding: 0px 0px;
	position: relative;
	margin: 30px 0px 00px 0px !important;
	border-bottom:2px solid #999;
	float: left;
}

 .area-informacoes-do-item .abas li{
	width:auto;
	padding:10px;
	float: left;
	margin:0px 1px;
	margin-left: 0px;
	display:table-cell !important;
	vertical-align: text-bottom !important;
	height: 40px;
}
.area-informacoes-do-item .abas li.ativo{
	padding:10px;
	font-size: 30px;

}
.area-informacoes-do-item .abas li.ativo a{
	color:#525252;
	top:15px;
}
.area-informacoes-do-item .abas li a{
	color:#999;
	text-transform: lowercase;
	text-decoration: none;
	position: relative;
	top:25px;
}







/*Inicio de Codigo de Detalhes dos produtos*/
.ver-descricoes{
	font-size: 14px;
	float: right;
	position: relative;
	right: 20px;
	top:0px;
	color:#535353;
	text-decoration: none;
	background-color: #f6bf00;
	padding: 8px;
	box-shadow:inset 0px 0px 10px #999;
}
.ver-descricoes:hover{
	color:#000;
}
.detalhe-do-item{
	float: right;
	height: auto;
	display: block;
	width: 100% !Important;
	background-color:#ebebeb;
	position: relative;
	z-index: 999;
}
.detalhe-do-item h2{width: 60%; float: left; margin:10px 0px 0px 10px; font-style: italic; text-transform: uppercase; padding:0px;}
.detalhe-do-item h2 img{display: none;}
.detalhe-do-item h3{width: 60%; float: left; margin:0px 0px 0px 10px !important; padding:0px !important; font-size: 12px;}

.detalhe-do-item .valor-do-produto{
	width:50%;
	float:left;
	position: relative;
	top:20px;
	font-size: 18px;
	padding: 0px 0px 0px 10px;
	line-height: 28px;
	color:#999;
}
.detalhe-do-item .valor-do-produto span{
	font-size: 20px;
	color:#333;
}
.detalhe-do-item .valor-do-produto strong{
	font-size: 40px;
	display: block;
	color:#333;
}
.area-fechar-compartilhar{
	position: absolute;
	top:0px;
	right: 340px;
	float: right;
	width: 140px;
}
.fechar-oferta{
	background-color: #9c0000;
	color:#fff;
	text-decoration: none;
	padding:5px;
	float: right;
	height: 15px;
	position: relative;
}
.compartilhar-oferta{
	background-color: #3b5998;
	color:#fff;
	text-decoration: none;
	padding:5px;
	float: right;
	font-style:italic;
	font-weight: bold; 
	height: 15px;
}

.detalhe-do-item .compre-agora{
	width:170px;
	height:162px;
	background-color: #3fa800 !important;
	color:#fff;
	display: block;
	float:right;
	padding:20px 10px;
	text-decoration: none;
	font-size: 30px;
	line-height: 26px;
	background-image:url('../../users/img/botoes/compre-agora.gif');
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9000px;
	border:0px;
}

.detalhe-do-item .faltam-dias{
	width:150px;
	height:162px;
	background-color: #ff8800 !important;
	color:#fff;
	display: block;
	float:right;
	padding:0px 10px;
	text-decoration: none;
	text-align: right;
}
.detalhe-do-item .faltam-dias span{
	position: relative;
	top:90px;
	float: right;
}
.detalhe-do-item .faltam-dias strong{
	display: block;
	font-size: 30px;
}




/*Inicio de codigo Resumo da compra*/
.paragrafo-descricao{
	float: left !important;
	width: 65% !important; 
	height: auto;
	position: relative;
}





.chama-compartilhar-oferta{color:#666;}
.chama-compartilhar-oferta img{
	position: relative;
	top:7px;
}
.compartilhar-oferta{
	
	box-shadow: 0px 5px 10px #666;
	background-color:#fff;
	width:430px;
	height:160px;
	position: absolute;
	margin-top: 0px;
	margin-left: -9px;
	z-index:999;
	padding: 0px;
	display: none;
}
.compartilhar-oferta .nao-agora{
	width:430px;
	height:20px;
	display: block;
	background-color:#8c1812;
	color: #fff;
	text-decoration: none;
	text-align: center;
	padding:3px 0px 0px 0px;
	position: absolute;
	bottom:0px;
	margin: 0px;
} 
.compartilhar-oferta a{
	width: 30px;
	height:30px;
	display: block;
	float: left;
	margin: 2px;
	border:1px solid transparent;
}	
.compartilhar-oferta a:hover{
	border:1px solid transparent; box-shadow: 0px 0px 5px #ccc; background-color:#efefef; color:#333;
}
.compartilhar-oferta a img{
	border: 0px;
	position: relative;
	top:3px;
	left:3px;
}	
.compartilhar-oferta .area-icones{
	position: relative;
	margin:0px auto;
	top:32%;
	width: auto;
	display: table;
}
.compartilhar-oferta .por-email{
	width:430px;
	height:40px;
	display: none;
	position: absolute;
	top:26%;
	padding-top:5px;
	background-color: #f9f9f9;
}
.compartilhar-oferta .por-email input{
	border:1px solid #dfdfdf;
	background-color: #fbfbfb;
	padding:5px;
	box-shadow: 0px 0px 5px #dfdfdf;
	margin:5px 5px 5px 10px;
}	
.compartilhar-oferta .por-email button{
	border:1px solid #dfdfdf;
	background-color: #0caf00;
	color:#fff;
	font-weight: bold;
	padding:5px 10px;
	box-shadow: 0px 0px 5px #dfdfdf;
	margin:5px;
}	
.compartilhar-oferta .cancelar{
	float: right;
	color:#333 !important;
	font-size:10px !important; 
	font-weight: normal;
	padding:0px 0px 0px 10px !important;
	position: relative;
	top:8px;
}
.compartilhar-oferta .por-twitter{
	width:430px;
	height:40px;
	display: none;
	position: absolute;
	top:26%;
	padding-top:5px;
	background-color: #f9f9f9;
	color:#333;
}
.compartilhar-oferta .por-facebook{
	width:430px;
	height:40px;
	display: none;
	position: absolute;
	top:26%;
	padding-top:5px;
	background-color: #f9f9f9;
	color:#333;
}





.efetuado-com-sucesso{

font-size:12px !important;	
text-align:center;
    background-color:#efefef;
border:1px solid #dfdfdf;padding:0px;
height:auto !important;
padding:00px 0px !important;
margin:0px !important;
    box-shadow:0px 0px 5px #ccc;
border-radius:5px;
}
.efetuado-com-sucesso h2{
text-shadow:0px 1px 0px #fff !important;
height:auto;
padding:10px 0px !important;
margin:0px !important;
width:100% !important;
font-size:18px !important;
text-transform:none !Important;
color:#444 !important;
font-style:italic;
}
.efetuado-com-sucesso h2 a{
font-weight:bold;
font-style:italic;
color:#ffa800;
text-decoration:none;
}


.excluir{
	float: right;
	display: block;
	width: 25px;
	height: 25px;
	background-image: url('../../users/img/icones/excluir.png');
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -9000px;
	margin-right: 10px;
}

.popup{padding-bottom: 20px;}
.popup p {width:95%; margin: 20px auto;}
.contador{
	position: absolute;
	display: block;
	float: left;
	border: 1px solid #db9101;
	background-color: #ffa800;
	font-size: 10px;
	color:#333;
	padding: 1px 2px 1px 2px;
	border-radius: 3px;
	box-shadow: 0px 1px 0px black;
	left:70px;
	z-index:99999999999999999999;
}

.eu-tenho{
	margin: 2px;
	width:22px;
	height: 23px;
	border:none;
	display: block;
	float: left;
}


.cadastrar-oferta{
	border-radius: 4px;
	border:1px solid #d0d0d0;
	padding:10px 60px;
	box-shadow:inset 0px 0px 1px #333 !important;	
	color:#333 !important;
	float: left !important;
	margin-left: 10px;
	background-color:#ffa800 !important;
}





/*Inicio de codigo de tabela*/
.detalhe-assinaturas {
	display: none;
}
.detalhe-assinaturas td{
	padding:20px 10px;
	background: #fff !important;
	border-top: 3px solid #d77603;
	border-bottom: 3px solid #d77603;
	
}
.detalhe-assinaturas td img{
	border:none;
	box-shadow: none;
	width:70px;
	height:71px;
}
.detalhe-assinaturas td h4{
	font-size: 24px;
	color:#c06800;
	font-weight: bold;
	font-style: italic;
		width: 40%;
		float: none;
		margin-left: 10px;
}
.detalhe-assinaturas td .destaques{
	width: 58%;
	float: right;
	display: table;
	position: relative;
	margin-top:-41px;
	height: auto;
}
.detalhe-assinaturas td p{
	width: 40%;
	float: left;
	font-style: italic;
	line-height: 18px;
	margin-left: 10px;
}
.detalhe-assinaturas td p a{
	font-weight: bold;
	font-size: 16px;
	display: block;
	position: relative !important;
	margin: 0px;
	padding:0px;	
	margin-top:10px;
	margin-bottom:10px;
	color: #c06800;
	text-decoration: none;
	float: left;
	width: 100%;
}
.detalhe-assinaturas td p strong{
	width: 100%;
	float: left;
	color: #c06800;
	margin: 0px;
	padding:0px;
	font-size: 22px !important;
}
.detalhe-assinaturas td .destaques a{
	display: table;
	width: 100%;
	float: left;
	height: auto;
	font-size: 22px;
	font-style: italic;
	color:#999;
	
	text-decoration: none; 
	text-shadow:0px 0px 0px #fff!important;
}
.detalhe-assinaturas td .destaques a span{
	position: relative;
	top:18px;

}
.detalhe-assinaturas td .destaques span span{
	font-size:12px;	
	float: left;
	margin:0px;
	top:30px;
	font-weight: bold;
	color: #c06800;
}

.eu-tenho{
	margin: 2px;
	width:22px;
	height: 23px;
	border:none;
	background-color: transparent;
	background-image: url('../../users/img/icones/excluir.png');
	background-repeat: no-repeat;
	background-position: bottom;
	display: block;
	float: left;
	text-indent: -9000px;
}


.linha_detalhe_desejos{
	display: none;	
}


/* codigo de display none no menu */

.icone-oculto{
	opacity: 0.3;
}


/* inicio de codigo apenas FF */ 


@-moz-document url-prefix() { 

.lista-de-ofertas .oferta-destaque-principal  .botao-comprar{
	position: absolute;
	border:none;
	margin-left:283px;
	margin-top:-66px;
	background-color: #81abd5;
	font-size: 20px;
	color:#fff;
	padding:10px 20px 12px 20px;
	font-weight: normal;
	text-align: center;
	height: auto;
	border: 1px solid #6d99c4;
	border-right: 0px;
	text-decoration: none;
}
}
@-moz-document url-prefix() { 
.lista-de-ofertas .oferta-destaque-impar  .botao-comprar{
	position: absolute;
	z-index: 9;
	border:none;
	left:-0px;
	top:100px;
	background-color: #81abd5;
	font-size: 14px;
	color:#fff;
	padding:15px 0px 14px 25px;
	font-weight: normal;
	text-align: right;
	height: auto;
	border: 1px solid #6d99c4;
	border-left: 0px;
	text-decoration: none;
	
}
}
@-moz-document url-prefix() { 
.lista-de-ofertas .oferta-destaque  .botao-comprar{
	position: absolute;
	z-index: 9;
	border:none;
	left:100px;
	top:104px;
	background-color: #81abd5;
	font-size: 14px;
	color:#fff;
	padding:12px 10px 14px 10px;
	font-weight: normal;
	text-align: center;
	height: auto;
	border: 1px solid #6d99c4;
	border-right: 0px;
	text-decoration: none;
}
}
@-moz-document url-prefix() { 
.lista-de-ofertas .oferta-destaque .descricoes .seta-de-ofertas span{
	background-color:#333;
	color:#fff;
	position: absolute;
	height: auto;
	top:2px;
	left:27px;
	z-index:0;
	padding:16px 15px 15px 40px;
	display: none;
	box-shadow: 0px 0px 10px #333;
}
}
@-moz-document url-prefix() { 
.lista-de-ofertas .oferta-destaque-impar .descricoes .seta-de-ofertas span{
	background-color:#333;
	color:#fff;
	position: absolute;
	height: auto;
	top:1px;
	left:-138px;
	z-index:0;
	padding:17px 40px 17px 15px;
	display: none;
	box-shadow: 0px 0px 10px #333;
	text-align: left;
}
}
@-moz-document url-prefix() { 
.lista-de-ofertas .oferta-destaque-impar .descricoes .seta-de-ofertas{
	position: absolute;
	margin-top:-56px;
	margin-left: -25px;

	float: right;
	z-index:9999 !important;
	width: 52px;
	height:51px;
	display: block;	

}


}




#buscar_cep{
float: left;
position: relative;
top: 9px;
left: 20px;
color:#ffa800;
font-weight: bold;
text-decoration: underline;
}


.conteudo-esquerda{
	width: 69%;
	float: left;
	height: auto;
	display: table;

}
.conteudo-direita{
	width: 30%;
	float: left;
	height: auto;
	display: table;
}
.conteudo-direita ul{
	display: table;
	background-color: #dfdfdf;
	width: 85%;
	padding:20px;
	border-radius: 10px;
	margin:0px auto !important;
	border-bottom: 1px solid #999;
	list-style: none;
}
.conteudo-direita ul li{
	width:90%;
	display: block;
	float:left;
	margin: 5px auto;
}
.conteudo-direita ul li span{
	float: left;
}
.conteudo-direita ul li .valor{
	border-radius: 100px;
	width: 11px;
	text-align: center;
	padding: 4px;
	height: 12px;
	display: none;
	background-color:red;
	color:#fff;
	font-size: 11px;
	position: relative;
	float: left;
	margin-top:-5px;
}